@using VietSoft.CMMS.Web.Resources;
@using VietSoft.CMMS.Web.Helpers;
@model PagedList<VietSoft.CMMS.Web.Models.MoveDeviceModel>

@if (Model != null && Model.Data.Count > 0)
{ @foreach (var item in Model.Data)
    {
        <div class="row">
            <div class="col-12 approval-request-content">

                <div class="card card-list card-hover">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column w-50 fs-sm">
                                <span class="fw-600">@item.NGAY_CHUYEN</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-600 fs-sm">Số ngày(@item.SO_NGAY)</span>
                            </div>
                        </div>
                    </div>
                    <div class="separate-line"></div>
                    <div class="card-body">
                        <div class="row detail-page-emp-info">
                            <div class="col-12 d-flex justify-content-left gap-2 ">
                                <span class="emp-name">@item.MS_MAY</span>
                                <span class="emp-code">@item.TEN_MAY</span>
                            </div>
                        </div>
                        <div class="d-flex mt-1">
                            <div class="d-flex w-50 gap-2">
                                <span class="text-secondary">@item.TEN_KHO_DI</span>
                            </div>
                            <div class="d-flex gap-2">
                                <span class="text-secondary">@item.TEN_KHO_DEN</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    <input type="hidden" id="hfTotalPage" value="@Model.TotalPages" data-total-rows="@Model.TotalItems">
    <div id="paggingResult"></div>
}
else
{
    <div class="col-12">
        <div class="no-data">
            <span>@ViewText.TXT_KHONGCO_DULIEU</span>
        </div>
    </div>
}
