@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers;
@using VietSoft.CMMS.Web.Extensions;
@model PagedList<VietSoft.CMMS.Web.Models.HistoryViewModel>
@if(Model != null && Model.Data.Count > 0) {
    @foreach(var item in Model.Data)
    {
        <div class="card card-list card-hover">
            <div class="card-header gap-2">
                <span>Ngày: </span>
                <span class="card-value">@item.NGAY</span>
                <div class="separate-line"></div>
            </div>
            @if(item.LOAI == 1)
            {
                <div class="card-body">
                    <div style="padding-bottom:0.3rem;justify-content:space-between" class="d-flex">
                        <div class="d-flex gap-2 ">
                            <span>@ViewText.LBL_MA_BO_PHAN:</span>
                            <span class="card-value">@item.MA_BP</span>
                        </div>
                        <div class="d-flex gap-2">
                            <span>@ViewText.LBL_TEN_CV:</span>
                            <span class="card-value">@item.MA_PT</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                if(item.LOAI == 2)
                {
                    <div class="card-body">
                        <div style="padding-bottom:0.3rem;justify-content:space-between" class="d-flex">
                            <div class="d-flex gap-2 ">
                                <span>@ViewText.LBL_MA_BO_PHAN:</span>
                                <span class="card-value">@item.MA_BP</span>
                            </div>
                            <div class="d-flex gap-2">
                                <span>@ViewText.LBL_MA_PHU_TUNG:</span>
                                <span class="card-value">@item.MA_PT</span>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <span>@ViewText.LBL_SL_THAY_THE:</span>
                            <span class="card-value">@item.SL_THAY_THE</span>
                        </div>
                    </div>
                }
                else
                {
                    if(item.LOAI == 3)
                    {
                        <div class="card-body">
                            <div style="padding-bottom:0.3rem;justify-content:space-between" class="d-flex">
                                <div class="d-flex gap-2 ">
                                    <span>@ViewText.LBL_MA_THIET_BI:</span>
                                    <span class="card-value">@item.MA_BP</span>
                                </div>
                                <div class="d-flex gap-2">
                                    <span>@ViewText.LBL_LOAI_HC:</span>
                                    <span class="card-value">@item.MA_PT</span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <div style="padding-bottom:0.3rem;justify-content:space-between" class="d-flex">
                                <div class="d-flex gap-2 ">
                                    <span>@ViewText.LBL_MS_PT:</span>
                                    <span class="card-value">@item.MA_BP</span>
                                </div>
                                <div class="d-flex gap-2">
                                    <span>@ViewText.LBL_LOAI_HC:</span>
                                    <span class="card-value">@item.MA_PT</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>
    }
    <input type="hidden" id="hfTotalPage" value="@Model.TotalPages" data-total-rows="@Model.TotalItems">
    <div id="paggingResult"></div>
}
else {
    <div class="col-12">
        <div class="no-data">
            <span>@ViewText.LBL_KHONGCO_DULIEU</span>
        </div>
    </div>
}