@using VietSoft.CMMS.Web.Resources
@model IEnumerable<VietSoft.CMMS.Web.Models.Maintenance.WorkOrderDetailViewModel>
<div class="modal-header">
    <h5>@ViewText.LBL_THEM_CONGVIEC_BAOTRI</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body modal-confirm">

    <div class="row detail-page-emp-info">
        <div class="col-12 d-flex justify-content-left gap-2 ">
            <span class="emp-name">@ViewBag.MS_PBT</span>
            <span class="emp-code">@ViewBag.MS_MAY</span>
        </div>
    </div>

    <div class="row mb-2">
        <table class="table table-responsive table-borderless cuscess table-normal">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="parentCell odd">
                        <td class="w-30 text-start">
                            + @item.MS_BO_PHAN
                            <div class="tooltip-action">
                                <a>
                                    @*<img src="@string.Format(Setting.MENU_ICON_FOLDER, "timesheet-white-sm.png")" class="icon-tooltip">*@
                                    <span>@item.TEN_BO_PHAN</span>
                                </a>
                            </div>
                        </td>
                        <td class="w-50 text-start">@item.MO_TA_CV</td>
                        <td class="w-20">
                            <div class="mx-3 my-1">
                                <input class="form-check-input input-add-work" type="checkbox"
                                   data-ms-cviec=@item.MS_CV data-ms-bophan=@item.MS_BO_PHAN>
                            </div>
                        </td>
                        <td class="d-none">@item.TEN_BO_PHAN</td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal-footer justify-content-between gap-1 flex-nowrap">
    <button type="button" class="btn btn-outline-danger w-50" onclick="ClosePopup(this)" id="btnCancel">@ViewText.BTN_DONG</button>
    <button type="button" class="btn btn-success w-50" id="btnAddWork">Thêm CV</button>
    <button type="button" class="btn btn-primary w-50" id="btnAddWorkList">@ViewText.BTN_LUU</button>

</div>