@using VietSoft.CMMS.Web.Resources;
@using VietSoft.CMMS.Web.Helpers;
@model IEnumerable<VietSoft.CMMS.Web.Models.InventoryViewModel>

@if (Model != null)
{
    <table class="table table-normal-padding tblAddSuppliesSeleced">
        <thead>
            <tr>
                <td width="40%" class="col-grid-table ">
                    @ViewText.LBL_MS_PT
                </td>
                <td width="20%">
                    @ViewText.LBL_SL_TREN_BT
                </td>
                <td width="20%">
                    @ViewText.LBL_SL_TON_KHO
                </td>
                <td width="20%">
                    @ViewText.LBL_SL_KHA_DUNG
                </td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr-supplies" style="color:@(item.SL_TON >= item.SL_TREN_PBT ? "#008001" : "#ff0000")">
                    <td>@item.MS_PT</td>
                    <td>@item.SL_TREN_PBT</td>
                    <td>@item.SL_TON</td>
                    <td>@item.SL_HUU_DUNG</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>@ViewText.LBL_KHONGCO_DULIEU</span>
}
