@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers;
@model IEnumerable<VietSoft.CMMS.Web.Models.Maintenance.LogWorkViewModel>
<div class="modal-header">
    <h5>@ViewText.TXT_GHINHAN_THOIGIAN_LAMVIEC</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body modal-confirm">
    <div class="row mb-2" >
        <div class="col-12" id="logWorkContent">
            <div class="col-2" id="btnAddRowLogWork">
                <i class="fa fa-plus fs-7 mx-3" aria-hidden="true"></i>
            </div>
            <div style="height:380px; overflow: auto;">
                  <table id="tblLogWork" class="table table-responsive table-borderless cuscess" >
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:45%">
                                <div class="form-floating input-group date ">
                                    <input style="border-radius: 0 !important" type="text" class="form-control-bottom form-control fromDate" autocomplete="off" value="@item.NGAY.ToString(Setting.FORMAT_DATETIME)"/>
                                </div>
                            </td>
                            <td style="width:45%">
                                 <div class="form-floating input-group date px-2" >
                                        <input type="text" style="border-radius: 0 !important" class="form-control form-control-bottom toDate" autocomplete="off" value="@item.DEN_NGAY.ToString(Setting.FORMAT_DATETIME)" />
                                </div>
                            </td>
                            <td style="width:10%">
                              <p class="text-orange mt-3 hours"> @item.SO_GIO</p>
                            </td>
                            <td class="d-none">@item.MS_CONG_NHAN</td>
                        </tr>

                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer justify-content-between gap-1 flex-nowrap">
    <button type="button" class="btn btn-outline-danger w-50" onclick="ClosePopup(this)" id="btnCancel">@ViewText.BTN_DONG</button>
    <button type="button" class="btn btn-primary w-50" id="btnSaveLogWork">@ViewText.BTN_LUU</button>
</div>

<script>
    setDateTimePicker('.fromDate', moment($(".fromDate").val(), _formatDateTime).toDate())
    setDateTimePicker('.toDate', moment($(".toDate").val(), _formatDateTime).toDate())
</script>