@model IEnumerable<VietSoft.CMMS.Web.Models.Maintenance.WorkOrdersViewModel>
@using System.Text.Json;
@foreach (var item in Model)
{
    <div class="accordion border-0 break-line" id="accordionFlushExample-@item.MS_CV">
        <div class="accordion-item border-0 break-line">
           
            <h2 class="accordion-header mx-3" id="flush-heading-@item.MS_CV">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@item.MS_CV" aria-expanded="false" aria-controls="flush-collapse-@item.MS_CV" title="Bạc đạn">
                    + @item.MS_BO_PHAN  @item.MO_TA_CV
                </button>
                @if (!string.IsNullOrEmpty(item.PATH_HD))
                {
                    <a class="viewGuide" onclick="window.open('@item.PATH_HD')">
                        <i class="fa fa-info-circle" aria-hidden="true" style="font-size:20px; color:#fd7e14"></i>
                    </a>
                }
            </h2>
            
            <div id="flush-collapse-@item.MS_CV" class="accordion-collapse collapse" aria-labelledby="flush-heading-@item.MS_CV" data-bs-parent="#accordionFlushExample-@item.MS_CV">
                <div class="table-responsive">
                    <table class="table table-responsive table-borderless tbl-supplies">
                        <tbody>
                            @foreach (var wd in item.WorkOrderDetailViewModels)
                            {
                                <tr>
                                    <td width="40%" style="line-height:2.3rem">@wd.MS_PT</td>
                                    <td width="30%" style="line-height:2.3rem">@wd.MS_VI_TRI_PT</td>
                                    <td width="30%"> <input class="form-control" style="font-size:0.8rem;" type="text" value="@wd.SL_TT" placeholder="số lượng" /></td>
                                    <td class="d-none">@item.MS_BO_PHAN</td>
                                    <td class="d-none">@item.MS_CV</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="d-flex flex-row-reverse">
                        <div>
                            <input hidden class="MS_BO_PHAN" value="@item.MS_BO_PHAN">
                            <input hidden class="MS_CV" value="@item.MS_CV">
                            <a class="btn btn-outline-warning m-1 btnSaveSupplies" style="width:auto">
                                <i class="fa fa-floppy-o fs-7"></i>
                            </a>
                        </div>
                        <div>
                            @{
                                var supplies = JsonSerializer.Serialize(@item.WorkOrderDetailViewModels.Select(x => x.MS_PT).ToList());
                            }
                            <a class="btn btn-outline-primary m-1  btnAddSupplies" data-supplies=@supplies data-dept=@item.MS_BO_PHAN data-mscv=@item.MS_CV style="width:auto" href="#!" role="button">
                                <i class="fa fa-plus fs-7"></i>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
}

