@model IEnumerable<VietSoft.CMMS.Web.Models.Maintenance.WorkOrdersViewModel>
@using System.Text.Json;
<div class="accordion border-0 break-line" id="accordionFlushExample">
    @foreach (var item in Model)
    {
        <div class="accordion-item border-0 break-line">

            <h2 class="accordion-header mx-3" id="flush-heading-@item.MS_CV">
                <button class="accordion-button  collapsed parentCell" type="button" style="color: @(item.WorkOrderDetailViewModels.Any() ? "#ff870f" : "#113186")" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@item.MS_CV" aria-expanded="false" aria-controls="flush-collapse-@item.MS_CV" title="Bạc đạn">
                    + @item.MS_BO_PHAN  @item.MO_TA_CV
                    <div class="tooltip-action" style="margin-top:-5.2rem">
                        <a>
                            <span>@item.TEN_BO_PHAN</span>
                        </a>
                    </div>
                </button>
                @if (!string.IsNullOrEmpty(item.PATH_HD))
                {
                    @*@item.PATH_HD*@
                    <a target="_blank" class="d-flex accordion-right-icon" style="padding-right:0.5rem" href="@Url.Action("DownloadFile","WorkOrder", new{filepath = item.PATH_HD})">
                        @*<i class="fa fa-file-pdf-o"></i>*@
                        <i class="fa fa-paperclip" style="transform: rotate(45deg);"></i>
                    </a>
                }
                <a class="d-flex accordion-right-icon btnBackLog" style="padding-right:0.5rem;color:#113186">
                    <i class="fa fa-arrows"></i>
                </a>
                <a class="d-flex accordion-right-icon btnDeleteWork">
                    <i class="fa fa-trash-o text-danger"></i>
                </a>
            </h2>

            <div id="flush-collapse-@item.MS_CV" class="accordion-collapse collapse" aria-labelledby="flush-heading-@item.MS_CV" data-bs-parent="#accordionFlushExample">
                <div class="table-responsive">
                    <table class="table table-responsive table-borderless tbl-supplies">
                        <tbody>
                            @foreach (var wd in item.WorkOrderDetailViewModels)
                            {
                                <tr>
                                    <td width="30%" style="line-height:2.3rem">@wd.MS_PT</td>
                                    <td width="30%" style="line-height:2.3rem">@wd.MS_VI_TRI_PT</td>
                                    <td width="15%">
                                        <input class="form-control SoLuongKH" style="font-size:0.8rem; color:#198754 !important;border-color:#198754 !important" type="number" min="0" max="@(@wd.SL_CT == 0 ? 9999: @wd.SL_CT)" value="@wd.SL_KH" placeholder="số lượng" />
                                    <td width="15%">
                                        <input class="form-control SoLuongTT" style="font-size:0.8rem;" type="number" min="0" max="@(@wd.SL_CT == 0 ? 9999: @wd.SL_CT)" value="@wd.SL_TT" placeholder="số lượng" />
                                    </td>

                                    <td class="d-none">@item.MS_BO_PHAN</td>
                                    <td class="d-none">@item.MS_CV</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="d-flex flex-row-reverse">
                        <div>
                            <input hidden class="MS_BO_PHAN" value="@item.MS_BO_PHAN">
                            <input hidden class="MS_CV" value="@item.MS_CV">
                            <a class="btn btn-outline-warning m-1 btnSaveSupplies" style="width:auto">
                                <i class="fa fa-floppy-o fs-7"></i>
                            </a>
                        </div>
                        <div>
                            @{
                                var supplies = JsonSerializer.Serialize(@item.WorkOrderDetailViewModels.Select(x => x.MS_PT).ToList());
                            }
                            <a class="btn btn-outline-primary m-1  btnAddSupplies" data-supplies=@supplies data-dept=@item.MS_BO_PHAN data-mscv=@item.MS_CV style="width:auto" href="#!" role="button">
                                <i class="fa fa-plus fs-7"></i>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }
</div>