@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@model VietSoft.CMMS.Web.Models.Maintenance.TicketMaintenanceViewModel
@{
    ViewBag.Title = "PHIẾU BẢO TRÌ";
    ViewBag.BackUrl = @Url.Action("Index", "Home", new { });
}
<style>
    .btn-group .d-flex .justify-content-end a i {
        width: 3rem !important;
    }
</style>
<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="row detail-page-emp-info">
            <div class="col-12 d-flex justify-content-left gap-2 ">
                <span class="emp-name">@ViewBag.MS_MAY</span>
                <span class="emp-code">@ViewBag.TEN_MAY</span>
                @*         <span class="emp-name">A05534</span>
                <span class="emp-code">máy đóng bao</span>*@
            </div>
        </div>
        @*<div class="border text-secondary m-auto mt-4 w-90 break-line"></div>*@
        <div class="border-top my-3"></div>

        <div class="d-flex justify-content-between mb-3">
            <div><span>@Model.MS_PHIEU_BAO_TRI</span></div>
            <div><span>@Model.NGAY_KT_KH</span></div>
        </div>

        <div class="form-floating break-line">
            <select id="cboLoaiBaoTri" name="cboLoaiBaoTri" asp-for="@Model.MS_LOAI_BT" asp-items="@ViewBag.LoaiBaoTri" class="form-select form-select-sm" placeholder=@ViewText.BTN_DOI_MK>
            </select>
            <label for="cboLoaiBaoTri">Loại bảo trì</label>

            <a id="btnViewCauseOfDamage">
                <img src="~/images/phantich.png" alt="image" class="icon-barcode">
            </a>
        </div>

        <div class="form-floating break-line">
            <select id="cboUuTien" name="cboMay" asp-for="@Model.MS_UU_TIEN" asp-items="@ViewBag.UuTien"  class="form-select form-select-sm">
            </select>
            <label for="cboUuTien">Mức ưu tiên</label>
        </div>


        <div class="border-top my-3"></div>
        <br />
        <div class="accordion border-0 break-line" id="accordionFlushExample">
            <div class="accordion-item border-0 break-line">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" title="Bạc đạn">
                        + 01.03.05 Thay nhớt
                    </button>
                </h2>

                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="table-responsive">
                        <table class="table table-responsive table-borderless">
                            <tbody>
                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-02-005</td>
                                    <td class="w-25" style="line-height:2.3rem">All</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="2" placeholder="số lượng" /></td>
                                </tr>


                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-01-005</td>
                                    <td class="w-25" style="line-height:2.3rem">T</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="1" placeholder="số lượng" /></td>
                                </tr>

                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-05-009</td>
                                    <td class="w-25" style="line-height:2.3rem">P</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="3" placeholder="số lượng" /></td>
                                </tr>


                            </tbody>
                        </table>

                      

                        <div class="d-flex flex-row-reverse">
                            <div>
                                <a class="btn btn-outline-warning m-1" style="width:auto" href="#!" role="button">
                                    <i class="fa fa-floppy-o fs-7"></i>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary m-1" style="width:auto" href="#!" role="button">
                                    <i class="fa fa-plus fs-7"></i>
                                </a>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
            <div class="accordion-item border-0 break-line">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" title="Động cơ">
                        + 01.02.07 kiểm tra tình động cơ
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="table-responsive">
                        <table class="table table-responsive table-borderless">
                            <tbody>
                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-02-005</td>
                                    <td class="w-25" style="line-height:2.3rem">All</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="2" placeholder="số lượng" /></td>
                                </tr>


                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-01-005</td>
                                    <td class="w-25" style="line-height:2.3rem">T</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="1" placeholder="số lượng" /></td>
                                </tr>

                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-05-009</td>
                                    <td class="w-25" style="line-height:2.3rem">P</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="3" placeholder="số lượng" /></td>
                                </tr>


                            </tbody>
                        </table>
                        <div class="d-flex flex-row-reverse">
                            <div>
                                <a class="btn btn-outline-warning m-1" style="width:auto" href="#!" role="button">
                                    <i class="fa fa-floppy-o fs-7"></i>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary m-1" style="width:auto" href="#!" role="button">
                                    <i class="fa fa-plus fs-7"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item border-0 break-line">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" title="Quạt hút / Ventilating fans">
                        + 01.02.08 Kiểm tra nhiệt độ dầu
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="table-responsive">
                        <table class="table table-responsive table-borderless">
                            <tbody>
                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-02-005</td>
                                    <td class="w-25" style="line-height:2.3rem">All</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="2" placeholder="số lượng" /></td>
                                </tr>


                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-01-005</td>
                                    <td class="w-25" style="line-height:2.3rem">T</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="1" placeholder="số lượng" /></td>
                                </tr>

                                <tr>
                                    <td class="w-50" style="line-height:2.3rem">BEA-05-009</td>
                                    <td class="w-25" style="line-height:2.3rem">P</td>
                                    <td class="w-25"> <input class="form-control" style="font-size:0.8rem;" type="text" value="3" placeholder="số lượng" /></td>
                                </tr>


                            </tbody>
                        </table>
                        <div class="d-flex flex-row-reverse">
                            <div>
                                <a class="btn btn-outline-warning m-1" style="width:auto" href="#!" role="button">
                                    <i class="fa fa-floppy-o fs-7"></i>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary m-1" style="width:auto" href="#!" role="button">
                                    <i class="fa fa-plus fs-7"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<nav class="fixed-bottom">
    <div class="navbar-button  text-center text-white">
        <div id="button-container" class="btn-group">
            <a class="btn btn-outline-primary m-1" href="#!" role="button">
                <i class="fa fa-plus fs-7" aria-hidden="true"></i>
            </a>
            <a id="logWork" class="btn btn-outline-dark m-1">
                <i class="fa fa-clock-o fs-7"></i>
            </a>
            <!-- Twitter -->
            <a class="btn btn-outline-secondary m-1" href="#!" role="button">
                <i class="fa fa-cogs fs-7"></i>
            </a>

            <!-- Google -->
            <a id="btnCompletePBT" class="btn btn-outline-success m-1">
                <i class="fa fa-check-circle fs-7"></i>
            </a>

            <a class="btn btn-outline-warning m-1" href="#!" role="button">
                <i class="fa fa-times fs-7"></i>
            </a>
        </div>
    </div>
</nav>
@section scripts {
    <script src="~/js/pages/jquery.imagesloader-1.0.1.js"></script>
    <script>
        var config = {
            PAGE_SIZE: 10,
            GET_CAUSE_OF_DAMAGE_LIST: '@Url.Action("GetCauseOfDamageList", "WorkOrder")',
            GET_VIEW_CAUSE_OF_DAMAGE: '@Url.Action("ViewCauseOfDamage", "WorkOrder")',
            GET_INPUT_CAUSE_OF_DAMAGE: '@Url.Action("InputCauseOfDamage", "WorkOrder")',
            GET_INPUT_CAUSE_OF_DAMAGE_LIST: '@Url.Action("GetInputCauseOfDamageList", "WorkOrder")',
            LOG_WORK: '@Url.Action("LogWork","WorkOrder")'
            
        }
    </script>
    <script src="~/js/pages/moningtoring.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            MoningToringModule.init();
        });
    </script>
}
