@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@using VietSoft.CMMS.Web.Models.Maintenance;
@model VietSoft.CMMS.Web.Models.Maintenance.TicketMaintenanceViewModel;
@{
    ViewBag.Title = ViewText.TITLE_PHIEU_BAO_TRI;
    var priorityCategories = (IEnumerable<PriorityCategoryViewModel>)ViewBag.UuTien;
    var maintenanceCategories = (IEnumerable<MaintenanceCategoryViewModel>)ViewBag.LoaiBaoTri;
}
<style>
    .btn-group .d-flex .justify-content-end a i {
        width: 3rem !important;
    }

    .navbar-button {
        /*padding-left: 100px;*/
        padding-top: unset;
        /*padding-right: 100px;*/
        /* overflow: hidden; */
        position: absolute;
        line-height: 42px;
        bottom: 23px;
        left: 0;
        width: 100%;
        background: #ffff !important;
    }

    .accordion-button::after {
        /*https://astronautweb.co/snippet/font-awesome/*/
        /*        content: "\f083";
                                                            font-family: FontAwesome;*/
        background-image: none !important;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: none !important;
        transform: none;
    }
</style>
<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="row detail-page-emp-info">
            <div class="col-12 d-flex justify-content-left gap-2 ">
                @Html.Hidden("MS_MAY", @ViewBag.MS_MAY, null)
                @Html.Hidden("MS_LOAI_BT", @Model.MS_LOAI_BT, null)
                @Html.Hidden("MS_UU_TIEN", Model.MS_UU_TIEN, null)
                @Html.Hidden("HU_HONG", Model.HU_HONG, null)
                <input type="hidden" id="flag" name="flag" value="@ViewBag.FLAG">
                <span class="emp-name">@ViewBag.MS_MAY</span>
                <span class="emp-code">@ViewBag.TEN_MAY</span>
                @*<span class="emp-name">A05534</span>
                <span class="emp-code">máy đóng bao</span>*@
            </div>
        </div>
        @*<div class="border text-secondary m-auto mt-4 w-90 break-line"></div>*@
        <div class="border-top my-3"></div>

        <div class="d-flex justify-content-between mb-3">
            @Html.Hidden("MS_PHIEU_BAO_TRI", @Model.MS_PHIEU_BAO_TRI, null)
            @Html.Hidden("THEM", @Model.THEM, null)
            <div><span>@Model.MS_PHIEU_BAO_TRI</span></div>
            @Html.Hidden("currentDate", @Model.NGAY_BD_KH.ToString(Setting.FORMAT_DATE), null)
            <div><span id="NGAY_LAP" data-toggle="tooltip" title="Ngày lập">@Model.NGAY_LAP.ToString(Setting.FORMAT_DATE)</span></div>
        </div>

        <div class="form-floating break-line">
            <select id="cboLoaiBaoTri" asp-for="@Model.MS_LOAI_BT" name="cboLoaiBaoTri" class="form-select form-select-sm" placeholder=@ViewText.BTN_DOI_MK>
                @foreach (var item in maintenanceCategories)
                {
                    <option value="@item.MS_LOAI_BT" data-huhong=@item.HU_HONG>@item.TEN_LOAI_BT</option>
                }
            </select>
            <label for="cboLoaiBaoTri">@ViewText.LBL_LOAI_BT</label>

            <a id="btnViewCauseOfDamage">
                <img src="~/images/phantich.png" alt="image" class="icon-barcode">
            </a>
        </div>

        <div class="form-floating break-line">
            <select id="cboUuTien" asp-for="@Model.MS_UU_TIEN" name="cboUuTien" class="form-select form-select-sm" placeholder=@ViewText.BTN_DOI_MK>
                @foreach (var item in priorityCategories)
                {
                    <option value="@item.MS_UU_TIEN" data-songay=@item.SO_NGAY>@item.TEN_UU_TIEN</option>
                }
            </select>
            <label for="cboUuTien">@ViewText.LBL_UU_TIEN</label>
        </div>
        <div class="form-floating break-line">
            <div class="d-flex justify-content-between gap-2">
                <div class="form-floating input-group date">
                    @Html.TextBoxFor(model => model.NGAY_BD_KH,"{0:dd/MM/yyyy}",new{ @class="form-control",autocomplete="off"})
                    <span class="input-group-append d-flex align-items-center">
                        <i class="bi bi-calendar4-week date-icon "></i>
                    </span>
                    <label for="NGAY_BD_KH">Ngày BD kế hoạch</label>
                    <div id="NGAY_BD_KH-error"></div>
                </div>

                <div class="form-floating input-group date">
                    @Html.TextBoxFor(model => model.NGAY_KT_KH,"{0:dd/MM/yyyy}",new{ @class="form-control",autocomplete="off"})
                    <span class="input-group-append d-flex align-items-center">
                        <i class="bi bi-calendar4-week date-icon"></i>
                    </span>
                    <label for="NGAY_KT_KH">Ngày KT kế hoạch</label>
                    <div id="NGAY_KT_KH-error"></div>
                </div>
            </div>
        </div>

        <div class="form-floating break-line">
            @Html.TextAreaFor(model=>model.GHI_CHU, new { @class = "form-control", maxlength = 250, autocomplete = "off" , placeholder=@ViewText.LBL_GHI_CHU })
            <label for="GHI_CHU">@ViewText.LBL_GHI_CHU</label>
        </div>


        <div class="break-line d-flex justify-content-between">

              @if(Model.TINH_TRANG_MAY.Contains("CM-"))
            {
                <a id="TINH_TRANG_MAY" class="tinhtrangmay" style="color:#6610f2" >@Model.TINH_TRANG_MAY</a>

            }
            else
            {
                <p id="TINH_TRANG_MAY">@Model.TINH_TRANG_MAY</p>

            }
            @if (Model.QUYEN_MENU == 1)
            {
                <a id="btnSaveWorkOrder" class="btn btn-outline-dark m-1">
                    <i class="fa fa-floppy-o fs-7"></i>
                </a>
            }
        </div>

        <div class="border-top my-3"></div>
        <br />
        <div id="workListContent"></div>
    </div>
</div>
<br />
<br />
@if (ViewBag.FLAG == 1 && Model.QUYEN_MENU == 1)
{
    <nav class="fixed-bottom">
        <div class="navbar-button text-center text-white">
            <div id="button-container" class="btn-group">

                @if ((Model.USERNAME.ToLower() == SessionManager.CurrentUser.UserName.ToLower() && Model.QUYEN_CN > 0) || Model.HU_HONG == 1)
                {
                    <a id="btnAddMaintenanceWork" class="btn btn-outline-primary m-1" data-toggle="tooltip" title="@ViewText.LBL_THEM_CONGVIEC_BAOTRI">
                        <i class="fa fa-plus fs-7" aria-hidden="true"></i>
                    </a>
                }
                <!-- Twitter -->
                <a id="btnXemtonkho" class="btn btn-outline-secondary m-1" data-toggle="tooltip" title="@ViewText.LBL_XEM_TON_KHO">
                    <i class="fa-solid fa-warehouse-full fa-2xs fs-7"></i>
                </a>

                <a id="logWork" class="btn btn-outline-dark m-1" data-toggle="tooltip" title="@ViewText.LBL_GHINHAN_THOIGIAN_LAMVIEC">
                    <i class="fa fa-clock-o fs-7"></i>
                </a>
                <!-- Google -->
                <a id="btnCompletePBT" class="btn btn-outline-success m-1" data-toggle="tooltip" title="@ViewText.BTN_HOAN_THANH_PBT">
                    <i class="fa fa-check-circle fs-7"></i>
                </a>

                @if (Model.USERNAME.ToLower() == SessionManager.CurrentUser.UserName.ToLower() && Model.QUYEN_CN > 0)
                {

                    <a id="btnAddNguoiThucHien" class="btn btn-outline-primary m-1" data-toggle="tooltip" title="@ViewText.TITLE_THEN_NGUOI_THUC_HIEN">
                        <i class="fa-regular fa-person-sign fs-7" aria-hidden="true"></i>
                    </a>
                }

                <a class="btn btn-outline-info m-1" data-toggle="tooltip" title="Trao đổi thông tin" id="btnMessage" role="button">
                    <i class="fa-regular fa-message"></i>
                </a>

                <!-- kiểm tra nếu là hư hỏng thì mở chọn công việc -->
                @if (Model.USERNAME.ToLower() == SessionManager.CurrentUser.UserName.ToLower() && Model.QUYEN_CN > 0 || Model.HU_HONG == 1)
                {

                    <a class="btn btn-outline-warning m-1" data-toggle="tooltip" title="@ViewText.BTN_XOA" id="btnhuyBT" role="button">
                        <i class="fa fa-times fs-7"></i>
                    </a>
                }
            </div>
        </div>
    </nav>
}
else
{
    @if (Model.HU_HONG == 1)
    {
        <nav class="fixed-bottom">
            <div class="navbar-button  text-center text-white">
                <div id="button-container" class="btn-group">
                    <a id="btnAddMaintenanceWork" class="btn btn-outline-primary m-1" data-toggle="tooltip" title="@ViewText.LBL_THEM_CONGVIEC_BAOTRI">
                        <i class="fa fa-plus fs-7" aria-hidden="true"></i>
                    </a>
                    <!-- Twitter -->
                    <a id="btnXemtonkho" class="btn btn-outline-secondary m-1" data-toggle="tooltip" title="@ViewText.LBL_XEM_TON_KHO">
                        <i class="fa-solid fa-warehouse-full fa-2xs fs-7"></i>
                    </a>

                    <a id="logWork" class="btn btn-outline-dark m-1" data-toggle="tooltip" title="@ViewText.LBL_GHINHAN_THOIGIAN_LAMVIEC">
                        <i class="fa fa-clock-o fs-7"></i>
                    </a>
                    <!-- Google -->
                    <a id="btnCompletePBT" class="btn btn-outline-success m-1" data-toggle="tooltip" title="@ViewText.BTN_HOAN_THANH_PBT">
                        <i class="fa fa-check-circle fs-7"></i>
                    </a>
                    <!-- kiểm tra nếu là hư hỏng thì mở chọn công việc -->
                    <a class="btn btn-outline-warning m-1" data-toggle="tooltip" title="@ViewText.BTN_XOA" id="btnhuyBT" role="button">
                        <i class="fa fa-times fs-7"></i>
                    </a>
                </div>
            </div>
        </nav>
    }
}
@Html.Partial("~/Views/Camera/_loadimagePBT.cshtml")
<input type="file" id="fileToUpload" style="display: none;" />
@section scripts {
    <script src="~/js/pages/jquery.imagesloader-1.0.1.js"></script>
    <script>
        var config = {
            PAGE_SIZE: 10,
            GET_CAUSE_OF_DAMAGE_LIST: '@Url.Action("GetCauseOfDamageList", "WorkOrder")',
            GET_VIEW_CAUSE_OF_DAMAGE: '@Url.Action("ViewCauseOfDamage", "WorkOrder")',
            GET_INPUT_CAUSE_OF_DAMAGE: '@Url.Action("InputCauseOfDamage", "WorkOrder")',
            GET_INPUT_CAUSE_OF_DAMAGE_LIST: '@Url.Action("GetInputCauseOfDamageList", "WorkOrder")',
            LOG_WORK: '@Url.Action("LogWork","WorkOrder")',
            VIEW_INVENTORY: '@Url.Action("ViewInventory","WorkOrder")',
            GET_INVENTORY: '@Url.Action("GetInventory","WorkOrder")',
            GET_WORK_LIST: '@Url.Action("GetWorkList","WorkOrder")',
            ADD_SUPPLIES: '@Url.Action("AddSupplies","WorkOrder")',
            ADD_MAINTENANCE_WORK: '@Url.Action("AddMaintenanceWork","WorkOrder")',
            ADD_NGUOI_THUC_HIEN: '@Url.Action("ChonNguoiThucHien","WorkOrder")',
            SHOW_MESSAGE: '@Url.Action("ShowMessage","WorkOrder")',
            GET_MESSAGE: '@Url.Action("GetMessage","WorkOrder")',
            ADD_MESSAGE: '@Url.Action("AddMessage","WorkOrder")',
            THEM_CONG_VIEC: '@Url.Action("THEM_CONG_VIEC","WorkOrder")',
            XEM_HUONG_DAN: '@Url.Action("XEM_HUONG_DAN","WorkOrder")',
            LOAD_COMBO_CONG_VIEC: '@Url.Action("LoadComBoCongViec","WorkOrder")',
            THEM_CONG_VIEC_PHU_TUNG: '@Url.Action("ThemCongViecPhuTung","WorkOrder")',
            SAVE_MAINTENANCE_WORK: '@Url.Action("SaveMaintenanceWork","WorkOrder")',
            SAVE_NGUOI_THUC_HIEN: '@Url.Action("SaveNguoiThucHien","WorkOrder")',
            SAVE_LOG_WORK: '@Url.Action("SaveLogWork","WorkOrder")',
            ADD_ROW_LOG_WORK: '@Url.Action("AddRowLogwork","WorkOrder")',
            SAVE_SUPPLIES: '@Url.Action("SaveSupplies","WorkOrder")',
            BACK_LOG: '@Url.Action("BackLog","WorkOrder")',
            DELETE_WORK: '@Url.Action("DeleteWork","WorkOrder")',
            DELETE_WORKORDER: '@Url.Action("DeleteWorkOrder","WorkOrder")',
            KHONGCO_DULIEU: '@ViewText.LBL_KHONGCO_DULIEU',
            SAVE_WORK_ORDER: '@Url.Action("SaveWorkOrder","WorkOrder")',
            COMPLETED_WORK_ORDER: '@Url.Action("CompletedWorkOrder","WorkOrder")',
            SAVE_INPUT_CAUSE_OF_DAMAGE: '@Url.Action("SaveInputCauseOfDamageList","WorkOrder")',
            MESS_XACNHAN_HOANTHANH_PHIEUBAOTRI: '@Html.Raw(Message.XACNHAN_HOANTHANH_PHIEUBAOTRI)',
            MESS_CHUYEN_CONGVIEC_QUA_KEHOACH: '@Html.Raw(Message.CHUYEN_CONGVIEC_QUA_KEHOACH)',
            MESS_XOA_CONG_VIEC: '@Html.Raw(Message.XOA_CONG_VIEC)',
            MESS_XOA_PHIEU_BAO_TRI: '@Html.Raw(Message.XOA_PHIEU_BAO_TRI)',
            LBL_SO_LUONG: '@Html.Raw(ViewText.LBL_SO_LUONG)',
            MESS_TU_GIO_KHONG_LON_HON_DEN_GIO: '@Html.Raw(Message.MESS_TU_GIO_KHONG_LON_HON_DEN_GIO)',
            MyEcomaint: '@Url.Action("Index", "Home")',
            CHECK_TON_KHO: '@Url.Action("CHECK_TON_KHO","WorkOrder")',
            UPDATE_TT_HT: '@Url.Action("UPDATE_TT_HT","WorkOrder")',
            MESS_GIA_TRI_KHONG_HOP_LE: '@Html.Raw(Message.MESS_GIA_TRI_KHONG_HOP_LE)',
            SAVE_IMAGE: '@Url.Action("SaveImage","WorkOrder")',
            SHOW_THONG_SO_KD: '@Url.Action("ShowThongSoKhongDat", "Home")',
        }
    </script>
    <script src="~/js/pages/workorder.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            WorkOrderModule.init();
        });
    </script>
    }
