@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers;
@using VietSoft.CMMS.Web.Extensions;
@model PagedList<VietSoft.CMMS.Web.Models.MyEcomaintViewModel>

@if (Model != null && Model.Data.Count > 0)
{
    <table class="table table-striped" cellspacing="0" id="tbGetMyEcomain" style="width:100% !important">
        <thead>
            <tr>
                <td width="40%" class="col-grid-table ">
                    @ViewText.LBL_MA_THIET_BI
                    <span class="tooltip">Tooltip</span>
                </td>
                <td width="20%">
                    @ViewText.LBL_YEU_CAU
                </td>
                <td width="20%">
                    @ViewText.LBL_BAO_TRI
                </td>
                <td width="20%">
                    @ViewText.LBL_GIAM_SAT
                </td>

            </tr>
        </thead>
        <tbody>
            @foreach (var itemcha in Model.Data)
            {
                <tr class="parentCell odd">
                    <td>
                        @itemcha.MS_MAY
                        <div class="tooltip-action">
                            <a>
                                @*<img src="@string.Format(Setting.MENU_ICON_FOLDER, "timesheet-white-sm.png")" class="icon-tooltip">*@
                                <span>@itemcha.TEN_MAY</span>
                            </a>
                        </div>
                    </td>
                    <td name="@itemcha.MS_MAY">
                        @if (itemcha.sListYC != "")
                        {

                            foreach (var item in itemcha.ListYC)
                            {
                                <a class="px-2" href="/Home/UserRequest?msyc=@item.MS_YEU_CAU&msmay=@itemcha.MS_MAY&tenmay=@itemcha.TEN_MAY&flag=1" onclick="myFunction(event,this)" ontouchstart="myFunctionTouch(event,this)">
                                    @if (@item.MUC_YC == 1)
                                    {
                                        <i class="@(item.TREYC == 1 ? (item.DUYET_YC == 1 ? "fa-regular fa-circle-a" : "fa-regular fa-circle-n") : (item.DUYET_YC == 1 ? "fa-solid fa-a" : "fa-solid fa-n"))" style="color:#ff0000"></i>
                                    }
                                    else
                                    {
                                        @if (@item.MUC_YC == 2)
                                        {
                                            <i class="@(item.TREYC == 1 ? (item.DUYET_YC == 1 ? "fa-regular fa-circle-a" : "fa-regular fa-circle-n") : (item.DUYET_YC == 1 ? "fa-solid fa-a" : "fa-solid fa-n"))" style="color:#13079b"></i>
                                        }
                                        else
                                        {
                                            <i class="@(item.TREYC == 1 ? (item.DUYET_YC == 1 ? "fa-regular fa-circle-a" : "fa-regular fa-circle-n") : (item.DUYET_YC == 1 ? "fa-solid fa-a" : "fa-solid fa-n"))" style="color:#008001"></i>
                                        }
                                    }
                                </a>
                            }
                           @* <a class="px-2" href="/Home/UserRequest?msyc=-1&msmay=@itemcha.MS_MAY&tenmay=@itemcha.TEN_MAY&flag=0">
                                <i class="fa-solid fa-plus" style="color:#13079b"></i>
                            </a>*@

                        }
                        else
                        {
                            <a class="px-2" href="/Home/UserRequest?msyc=-1&msmay=@itemcha.MS_MAY&tenmay=@itemcha.TEN_MAY&flag=0">
                                @*<i class="fa-solid fa-plus" style="color:#13079b"></i>*@
                                <i class="fa fa-times" style="color:#fff0"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (itemcha.sListBT != "")
                        {
                            foreach (var item in itemcha.ListBT)
                            {
                                <a href="/Home/WorkOrder?mspbt=@item.MS_PHIEU_BAO_TRI&msmay=@itemcha.MS_MAY&tenmay=@itemcha.TEN_MAY&flag=1&ttmay=''">
                                    @if (item.MUC_BT == 1)
                                    {
                                        //cao<i class="fa-solid fa-p"></i>
                                        <i class="@(item.TREBT == 1 ? (item.HH_BT == 1 ? "fa-regular fa-circle-c" : "fa-regular fa-circle-p") : (item.HH_BT == 1 ? "fa-solid fa-c" : "fa-solid fa-p"))" style="color:#ff0000"></i>
                                    }
                                    else
                                    {
                                        @if (item.MUC_BT == 2)
                                        {
                                            //trung bình
                                            <i class="@(item.TREBT == 1 ? (item.HH_BT == 1 ? "fa-regular fa-circle-c" : "fa-regular fa-circle-p") : (item.HH_BT == 1 ? "fa-solid fa-c" : "fa-solid fa-p"))" style="color:#13079b"></i>

                                        }
                                        else
                                        {
                                            <i class="@(item.TREBT == 1 ? (item.HH_BT == 1 ? "fa-regular fa-circle-c" : "fa-regular fa-circle-p") : (item.HH_BT == 1 ? "fa-solid fa-c" : "fa-solid fa-p"))" style="color:#008001"></i>
                                        }
                                    }
                                </a>
                            }

                        }
                        else
                        {
                            <a href="/Home/WorkOrder?mspbt=-1&msmay=@itemcha.MS_MAY&tenmay=@itemcha.TEN_MAY&flag=0">
                                <i class="fa fa-times" style="color:#fff0"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (itemcha.TREGS == 2)
                        {
                            <a href="/Home/Moningtoring?msmay=@itemcha.MS_MAY&tenmay=@itemcha.TEN_MAY&flag=1">

                                <i class="@(itemcha.TREGS == 1 ? "fa-solid fa-circle" : "fa fa-times")" style="color:#13079b"></i>
                            </a>
                        }
                        else
                        {
                            @if (itemcha.TREGS == 1)
                            {
                                <a href="/Home/Moningtoring?msmay=@itemcha.MS_MAY&tenmay=@itemcha.TEN_MAY&flag=0">
                                    <i class="fa fa-times" style="color:#fff0"></i>
                                </a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" id="hfTotalPage" value="@Model.TotalPages" data-total-rows="@Model.TotalItems">
    <div id="paggingResult"></div>
}
else
{
    <div class="col-12">
        <div class="no-data">
            <span>@ViewText.LBL_KHONGCO_DULIEU</span>
        </div>
    </div>
}

<script>
    var clickCount = 0;
    var clickTimeout;
    function myFunction(event, element) {
        // Thực hiện công việc khi sự kiện dbclick xảy ra
        event.preventDefault(); // Loại bỏ sự kiện click mặc định của thẻ
        clickCount++;
        if (clickCount === 1) {
            clickTimeout = setTimeout(function () {
                //alert("Click");
                console.log(element.href);
                window.location.href = element.href;
                clickCount = 0;
            }, 300);
        } else if (clickCount === 2) {
            clearTimeout(clickTimeout);
            window.location.href = element.href.replace('flag=1', 'flag=0');
            clickCount = 0;
        }
    }
    function myFunctionTouch(event, element) {
        event.preventDefault();
        window.location.href = element.href.replace('flag=1', 'flag=0');
    }
    

</script>