@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers;
@using VietSoft.CMMS.Web.Extensions;
@model PagedList<VietSoft.CMMS.Web.Models.MyEcomaintViewModel>

@if (Model != null && Model.Data.Count > 0)
{
    <table class="table table-striped" cellspacing="0" id="tbGetMyEcomain" style="width:100% !important">
        <thead>
            <tr>
                <td width="40%" class="col-grid-table ">
                    Mã thiết bị
                    <span class="tooltip">Tooltip</span>
                </td>
                <td width="20%">
                    Yêu cầu
                </td>
                <td width="20%">
                    Bảo trì
                </td>
                <td width="20%">
                    Giám sát
                </td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr class="parentCell odd">
                    <td>
                        @item.MS_MAY
                        <div class="tooltip-action">
                                <a>
                                    @*<img src="@string.Format(Setting.MENU_ICON_FOLDER, "timesheet-white-sm.png")" class="icon-tooltip">*@
                                    <span >@item.TEN_MAY</span>
                                </a>
                        </div>
                    </td>
                    <td>
                        @if (item.YC == 1)
                        {
                            <a href="/Home/UserRequest?msmay=@item.MS_MAY&tenmay=@item.TEN_MAY&flag=1">
                                <i class="fa fa-times" style="color:#ff870f"></i>
                            </a>
                        }
                        else
                        {
                            <a href="/Home/UserRequest?msmay=@item.MS_MAY&tenmay=@item.TEN_MAY&flag=0">
                                <i class="fa fa-times" style="color:#fff0"></i>
                            </a>
                        }
                    </td>
                    <td>

                        @if (item.PBT == 1)
                        {
                            <a href="/Home/WorkOrder?msmay=@item.MS_MAY&tenmay=@item.TEN_MAY&flag=1&ttmay=''">
                                <i class="fa fa-times" style="color:#ff870f"></i>
                            </a>

                        }
                        else
                        {
                            <a href="/Home/WorkOrder?msmay=@item.MS_MAY&tenmay=@item.TEN_MAY&flag=0">
                                <i class="fa fa-times" style="color:#fff0"></i>
                            </a>                            
                        }
                    </td>
                    <td>
                        @if (item.GSTT == 1)
                        {
                            <a href="/Home/Moningtoring?msmay=@item.MS_MAY&tenmay=@item.TEN_MAY&flag=1">
                                <i class="fa fa-times" style="color:#ff870f"></i>
                            </a>
                        }
                        else
                        {
                            <a href="/Home/Moningtoring?msmay=@item.MS_MAY&tenmay=@item.TEN_MAY&flag=0">
                                <i class="fa fa-times" style="color:#fff0"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" id="hfTotalPage" value="@Model.TotalPages" data-total-rows="@Model.TotalItems">
    <div id="paggingResult"></div>
}
else
{
    <div class="col-12">
        <div class="no-data">
            <span>@ViewText.TXT_KHONGCO_DULIEU</span>
        </div>
    </div>
}