@using System.Globalization;
@using VietSoft.CMMS.Web.Resources;
@using VietSoft.CMMS.Web.Helpers;
@model IEnumerable<VietSoft.CMMS.Web.Models.ThongSoKhongDat>
<div class="modal-header">
    <h5>Thông số không đạt</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body modal-confirm" id="modalResultContent">

    <div class="row mb-2">
        <div class="col-12">
            <div>
                <table class="table table-striped tbPhuTungNhap" cellspacing="0" style="width:100% !important">
                    <thead>
                        <tr>
                            <td width="30%" class="col-grid-table">
                                Bộ phận
                            </td>
                            <td width="30%">
                                Tên thông số
                            </td>
                            <td width="40%">
                                Giá trị
                            </td>
                        </tr>
                    </thead>
                    @if (@Model.Count() > 0)
                    {

                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class="text-start">
                                        @item.TEN_BO_PHAN
                                    </td>
                                    <td class="text-start">
                                        @item.TEN_TS_GSTT
                                    </td>
                                    <td class="text-start">
                                        @item.TEN_GIA_TRI
                                    </td>

                                </tr>
                            }
                        </tbody>
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="no-data">
                                <span>@ViewText.LBL_KHONGCO_DULIEU</span>
                            </div>
                        </div>
                    }
                </table>

            </div>
        </div>
    </div>
</div>


