@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@inject IHttpContextAccessor HttpContextAccessor
@model VietSoft.CMMS.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = @ViewText.TITLE_DOI_MK;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="justify-content-center mb-4 text-uppercase">
            <a href="javascript:void(0)">
                <img src="/images/logo.jpg" class="login-logo mt-3" />
            </a>
        </div>
        <div class="">
            @using (Html.BeginForm("ChangePasswordAction", "Account", FormMethod.Post, new { id = "createNewPasswordForm", name = "createNewPasswordForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <br />
                <div class="form-group mb-4">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", maxlength = 50, autofocus = "true", @type = "password", placeholder = @ViewText.LBL_MATKHAU, autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                    <div class="form-group mb-4">
                    @Html.TextBoxFor(m => m.PasswordNew, new { @class = "form-control", maxlength = 50, autofocus = "true", @type = "password", placeholder = @ViewText.LBL_NHAP_MK_MOI, autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.PasswordNew)
                </div>
                    <div class="form-group mb-4">
                    @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control", maxlength = 50, autofocus = "true", @type = "password", placeholder = @ViewText.LBL_NHAPLAI_MK_MOI, autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.PasswordConfirm)
                </div>
                      
                <div class="form-group text-center mb-0">
                    <button class="btn btn-grad btn-primary-login" type="submit" id="login">@ViewText.BTN_DOI_MK</button>
                </div>
            }
        </div>
    </div>
</div>
