@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@inject IHttpContextAccessor HttpContextAccessor
@model VietSoft.CMMS.Web.Models.CreateNewPasswordViewModel
@{
    ViewBag.Title = @ViewText.TITLE_TAOLAI_MK;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="form-login">
    <div class="col-md-6 offset-md-3 col-xs-12 login-frame">
        <div class="justify-content-center mb-4 text-uppercase">
            <a href="javascript:void(0)">
                <img src="/images/logo.jpg" class="login-logo mt-3" />
            </a>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    @using (Html.BeginForm("CreateNewPasswordAction", "Account", FormMethod.Post, new { id = "createNewPasswordForm", name = "createNewPasswordForm", autocomplete = "off" }))
                    {
                        @Html.Hidden("Token", ViewBag.TokenCreatePass, null)
                        @Html.Hidden("UserName", ViewBag.UserName, null)

                        @Html.AntiForgeryToken()
                        <h5 class="text-primary text-center">@ViewText.TXT_TAOLAI_MK</h5>
                        <br />
                        <div class="form-group mb-4">
                            @Html.TextBoxFor(m => m.PasswordNew, new { @class = "form-control", type = "password", maxlength = 50, autofocus = "true", placeholder = @ViewText.TXT_NHAP_MK_MOI, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.PasswordNew)
                        </div>
                        <div class="form-group mb-4">
                            @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control", maxlength = 50, type = "password", autofocus = "true", placeholder = @ViewText.TXT_NHAPLAI_MK_MOI, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.PasswordConfirm)
                        </div>

                        <div class="form-group text-center mb-0">
                            <button class="btn btn-primary-login" type="submit" id="login">@ViewText.BTN_TAOLAI_MK</button>
                        </div>

                        <div class="text-center mt-2">
                            <a href="/Account/Login" class="text-primary">
                                <i class="bi bi-arrow-left"></i>
                                @ViewText.BTN_DANGNHAP
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
