@using VietSoft.CMMS.Web.Resources
@model VietSoft.CMMS.Web.Models.ThoiGianChayMayViewModel

<div class="modal-header">
    <h5>@ViewBag.title</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body modal-confirm" style="height:380px;">
    <div class="row detail-page-emp-info">
        <div class="col-12 d-flex justify-content-left gap-2 ">
            <span class="emp-name">@ViewBag.SO_PHIEU</span>
            <span class="emp-code">@ViewBag.MS_MAY</span>
        </div>
    </div>
    @using (Html.BeginForm("ThoigianChayMay", "SaveThoigianchaymay", FormMethod.Post, new { id = "TGCMForm", name = "TGCMForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.MS_MAY)
        @Html.HiddenFor(model=>model.THEM)
            <div class="form-floating input-group  date break-line">
                    @Html.TextBoxFor(model => model.NGAY,"{0:dd/MM/yyyy}",new{ @class="form-control",autocomplete="off"})
                    @Html.ValidationMessageFor(model=>model.NGAY)
                    <span class="input-group-append d-flex align-items-center">
                        <i class="bi bi-calendar4-week date-icon"></i>
                    </span>
                    <label for="NGAY">Ngày ngừng máy</label>
                </div>


            <div class="form-floating break-line">
            @Html.TextBoxFor(model => model.SO_GIO_LUY_KE, new { @class = "form-control", maxlength = 250, autocomplete = "off", placeholder = @ViewText.LBL_YEU_CAU })
            @Html.ValidationMessageFor(model=>model.SO_GIO_LUY_KE)
                <label for="SO_GIO_LUY_KE">Số giờ lũy kế</label>
            </div>
    }


    <div class="row mb-2">
    </div>
</div>

<div class="modal-footer justify-content-between gap-1 flex-nowrap">
    <button type="button" class="btn btn-outline-danger w-50" onclick="ClosePopup(this)" id="btnCancel">@ViewText.BTN_DONG</button>
    <button type="button" class="btn btn-primary w-50" id="SaveTGCM">@ViewText.BTN_LUU</button>
</div>

<script>

    if ($('#THEM').val() == 0) {
        $("#NGAY").prop("disabled", true);
        $("#NGAY").css('background-color', '#FFFFFF');
    }

    setDatePicker("#NGAY", null, null, null);
    //$("#SO_GIO_LUY_KE").on("input", function () {
    //    var value = $(this).val().replace(/\D/g, "");
    //    value = value.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    //    $(this).val(value);
    //});
</script>