@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers;
@using VietSoft.CMMS.Web.Extensions;
@model PagedList<VietSoft.CMMS.Web.Models.HistoryRequestViewModel>
@if(Model != null && Model.Data.Count > 0) {
    @foreach(var item in Model.Data)
    {
        <div class="card card-list card-hover">
            <div class="card-header gap-2">
                <span>Ngày yêu cầu: </span>
                <span class="card-value">@item.NGAY_YC</span>
                <div class="separate-line"></div>
            </div>
            <div class="card-body">
                <div style="padding-bottom:0.3rem; justify-content:space-between" class="d-flex mt-1">
                    <div class="d-flex gap-2 ">
                        <span>Tình trạng:</span>
                        <span class="card-value">@item.TINH_TRANG_MAY</span>
                    </div>
                    <div class="d-flex gap-2">
                        <span>Ngày kết thúc:</span>
                        <span class="card-value">@item.NGAY_KT_PBT</span>
                    </div>
                </div>
                @*<div class="d-flex gap-2">
                    <span>Số lượng thay thế:</span>
                    <span class="card-value">@item.SL_THAY_THE</span>
                </div>*@
            </div>
        </div>
    }
    <input type="hidden" id="hfTotalPage" value="@Model.TotalPages" data-total-rows="@Model.TotalItems">
    <div id="paggingResult"></div>
}
else {
    <div class="col-12">
        <div class="no-data">
            <span>@ViewText.TXT_KHONGCO_DULIEU</span>
        </div>
    </div>
}