@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@{
    ViewBag.Title = ViewText.TITLE_KIEM_KE_THIET_BI;
}
<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
            <div class="form-floating break-line">
                <select id="cboDiaDiem" name="cboDiaDiem" asp-items="@ViewBag.ListNhaXuong" class="form-control form-select form-select-sm">
                </select>
                <label for="cboDiaDiem">@ViewText.LBL_DIA_DIEM</label>
                <a data-bs-toggle="modal" data-bs-target="#modalCameraScanner" onclick="SetActive(this)" data-url="@Url.Action("CamareaScanner", "Camera")">
                    <img src="~/images/barcode.png" alt="image" class="icon-barcode">
                </a>
            </div>

            <div class="form-floating break-line">
                <select id="cboMay" name="cboMay" asp-items="@ViewBag.ListMAY" class="form-control form-select form-select-sm">
                </select>
                <label for="cboMay">@ViewText.LBL_THIET_BI</label>
                <div id="cboMay-error"></div>
                <a data-bs-toggle="modal" data-bs-target="#modalCameraScanner" onclick="SetActive(this)" data-url="@Url.Action("CamareaScanner", "Camera")">
                    <img src="~/images/barcode.png" alt="image" class="icon-barcode">
                </a>
            </div>
        <div class="row mb-2">
            <div class="col-md-12 offset-md-12 col-xs-12  px-0">
                <div id="GetIndentoryDevice">
                </div>
            </div>
        </div>
        <br />

    </div>
</div>

<nav class="fixed-bottom">
    <div class="navbar-button  text-center text-white">
        <div id="button-container" class="btn-group">
            <a class="btn btn-outline-dark m-1" role="button" href="@Url.Action("Index","Home")">
                <i class="fa fa-home fs-7" aria-hidden="true"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-primary m-1" id='btnsave' role="button">
                <i class="fa fa-floppy-o fs-7"></i>
            </a>

            <!-- Google -->
            <a class="btn btn-outline-warning m-1" id="btnhuy" role="button">
                <i class="fa fa-times fs-7"></i>
            </a>
        </div>
    </div>
</nav>


@section scripts {
    <script src="~/lib/jquery.twbsPagination/jquery.twbsPagination.min.js"></script>
    <script>
        var config = {
            GET_INDENTORY_DIVE: '@Url.Action("GetListInventoryDevice", "InventoryDevice")',
            SAVE_INDENTORY_DIVE: '@Url.Action("SaveLisInventoryeDevice", "InventoryDevice")',
            SAVE_DATAINDENTORY_DIVE: '@Url.Action("SaveListDataMoveDevice", "InventoryDevice")',
            GET_MAY: '@Url.Action("getDevices", "Home")',
            PAGE_SIZE: 10
        }
    </script>
    <script src="~/js/pages/inventorydevice.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            InVenToryDeviceModule.init();
        });
    </script>
}
