@using VietSoft.CMMS.Web.Resources
@model IEnumerable<VietSoft.CMMS.Web.Models.PhieuNhapKhoChiPhiModel>
<div class="modal-header">
    <h5>@ViewText.TITLE_NHAP_CHI_PHI</h5>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body modal-confirm" id="modalResultContent">
    <div class="row detail-page-emp-info">
        <div class="col-12 d-flex justify-content-left gap-2 ">
            <span class="emp-code">@ViewBag.MS_PN</span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12">
            @if (Model != null && Model.Count() > 0)
            {
                <table class="table table-striped" cellspacing="0" id="tbGetMyEcomain" style="width:100% !important">
                    <thead>
                        <tr>
                            <td width="25%" class="col-grid-table ">
                                @ViewText.LBL_LOAI_CP
                                <span class="tooltip">Tooltip</span>
                            </td>
                            <td width="30%">
                                @ViewText.LBL_CACH_PHAN_BO
                            </td>
                            <td width="20%">
                                @ViewText.LBL_SO_TIEN
                            </td>
                            <td width="25%">
                                @ViewText.LBL_GHI_CHU
                            </td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (@ViewBag.QUYEN == true)
                            {
                                <tr>
                                    <td data-id="@item.MS_CHI_PHI">
                                        @item.TEN_CP
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(modelItem => item.DANG_PB,(IEnumerable<SelectListItem>)@ViewBag.DANGPB, new {  @class = "form-select-sm",@style="height:1.6rem!important;min-height:0.5rem!important;font-size: 0.8rem!important;padding: 0px 3px!important;"})
                                    </td>
                                    <td>
                                        @*@item.TONG_CP.ToString("N2")*@
                                        <input class="form-control form-control-sm TONG_CP" style="height:0.5rem!important;min-height:0.5rem!important;font-size: 0.8rem;padding: 11px 3px!important;" type="text" value="@item.TONG_CP.ToString("N2")"/>
                                    </td>
                                    <td>
                                        <input class="form-control form-control-sm" style="height:0.5rem!important;min-height:0.5rem!important;font-size: 0.8rem;padding: 11px 3px!important;" type="text" value="@item.GHI_CHU"  />
                                    </td>
                                </tr>

                            }
                            else
                            {
                                <tr>
                                    <td data-id="@item.MS_CHI_PHI">
                                        @item.TEN_CP
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(modelItem => item.DANG_PB,(IEnumerable<SelectListItem>)@ViewBag.DANGPB, new {  @class = "form-select-sm",@style="height:1.6rem!important;min-height:0.5rem!important;font-size: 0.8rem!important;padding: 0px 3px!important;",@disabled = "disabled" })
                                    </td>
                                    <td>
                                        @item.TONG_CP.ToString("N2")
                                    </td>
                                    <td>
                                        @item.GHI_CHU
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="col-12">
                    <div class="no-data">
                        <span>@ViewText.LBL_KHONGCO_DULIEU</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal-footer justify-content-between gap-1 flex-nowrap">
    <button type="button" class="btn btn-outline-danger w-50" onclick="ClosePopup(this)" id="btnCancel">@ViewText.BTN_DONG</button>
    <button type="button" class="btn btn-primary w-50" id="btnSaveChiPhi">@ViewText.BTN_LUU</button>
</div>

<script>
    $(".TONG_CP").on("input", function () {
        var value = $(this).val().replace(/[^\d.]/g, ''); // Xóa tất cả ký tự không phải số và dấu chấm
        value = value.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'); // Thêm dấu phẩy phân cách phần ngàn
        var parts = value.split('.');
        if (parts.length > 1) {
            parts[1] = parts[1].slice(0, 6); // Giới hạn số chữ số sau dấu thập phân là 6
            value = parts.join('.'); // Gộp lại thành số
        }
        $(this).val(value);
    });
</script>