@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@using VietSoft.CMMS.Web.Extensions

@{
    List<MenuViewModel> menus = SessionManager.Menus;
    var mainMenus = menus.Where(x => x.ParentId == null);
    var subMenus = menus.Where(x => x.ParentId != null);
    var user = SessionManager.CurrentUser;
    var TTC = SessionManager.ThongTinChung;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" />
    <link href="~/css/highcharts.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        a {
            color: #ced4da;
        }

            a lu li {
                color: black;
            }

            a:hover {
                color: #ced4da;
            }
    </style>
</head>
<body class="d-flex flex-column">

    <nav class="navbar navbar-dark fixed-top shadow">
        <div class="container-fluid">
            @if (ViewData["RemoveTitle"] == null)
            {
                <a id="btn-back" class="btn-back" href="@(ViewBag.BackUrl == null ? "/Home/Index" : ViewBag.BackUrl)">
                    <img class="arror-left-icon" src="/images/icons/arrow-left.png" alt="arrow left">
                </a>
                <div class="row page-title">@ViewData["Title"] </div>
            }
            else
            {
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @*         <li>
                    <a href="#" id="LanguageMenuItem">
                    <i class="fa fa-fw fa-language"></i> <span style=" padding-right: 18px;" data-lang="lblNgonNgu">Ngôn ngữ</span>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                    </li>*@
                        @* <li>
                    <a href=""><i style="color:#113186" class="fa fa-fw fa-language"></i> <span style=" padding-right: 18px;">Đổi NN</span></a>
                    </li>*@
                        <li>
                            <a href="@Url.Action("LogOut", "Account")"><i style="color:#113186" class="fa fa-fw fa-power-off"></i> <span style=" padding-right: 18px;">Đăng xuất</span></a>
                        </li>
                    </ul>
                </div>
                <div class="row page-title">@ViewData["Title"] </div>
            }

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body">
                    <div class="offcanvas-body-top d-block">
                        <div class="area-avatar">
                            <div class="d-flex p-1 gap-3">
                                <a data-bs-toggle="modal" data-bs-target="#modalAvatar">
                                    <img class="avatar" src="~/images/nhan-vien-van-phong.jpg" alt="avatar">
                                </a>
                                <div class="d-flex flex-column w-100">
                                    <span class="text-white">@user.FullName</span>
                                    <span class="text-white">@user.UserName</span>
                                </div>
                                @*<div class="d-flex flex-column text-center align-items-center">
                                <a href="/Account/LogOut">
                                <img class="icon" src="/images/icons/logout.png" alt="logo">
                                <span class="text-white">@ViewText.BTN_DANGXUAT</span>
                                </a>
                                </div>*@

                            </div>
                            <div class="ms-3 mt-2 d-flex flex-column">
                                <span class="text-secondary">Đơn vị: <span class="text-primaryll">@TTC.TEN_DV</span> </span>
                                @*<span class="text-secondary">Xí nghiệp: <span class="text-primaryll">Xí nghiệp 1</span> </span>*@
                                <span class="text-secondary">Phòng ban: <span class="text-primaryll">@TTC.TEN_TO</span> </span>
                            </div>
                        </div>
                    </div>

                    <div class="border-bottom text-secondary m-auto mt-4 w-90"></div>

                    <div>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-3 ps-3">
                            @foreach (MenuViewModel menu in mainMenus)
                            {
                                var subMenuByParent = subMenus.Where(s => s.ParentId == menu.MenuId);
                                <li class="nav-item @(subMenuByParent.Count() > 0 ? "has-children" : "")">
                                    <img src="@string.Format(Setting.MENU_ICON_FOLDER, menu.MenuIcon)" alt="@menu.MenuName" class="icon-menu">
                                    @if (subMenuByParent.Count() > 0)
                                    {
                                        <a class="nav-link active collapsed" aria-current="page" href="@menu.MenuUrl" data-bs-toggle="collapse" data-bs-target="#layout-@menu.Target" aria-expanded="false">@menu.MenuName</a>
                                        <div class="collapse sub-menu" id="layout-@menu.Target">
                                            <ul class="list-unstyled fw-normal pb-1 ps-3">
                                                @foreach (MenuViewModel subMenu in subMenuByParent)
                                                {
                                                    <li><a href="@subMenu.MenuUrl" class="nav-link d-inline-flex align-items-center rounded">@subMenu.MenuName</a></li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <a class="nav-link active collapsed" aria-current="page" href="@menu.MenuUrl">@menu.MenuName</a>
                                    }
                                </li>
                            }
                        </ul>
                        <div class="border-bottom text-secondary m-auto mt-3 w-90"></div>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-2 ps-3">
                            <li class="nav-item">
                                <img src="~/images/icons/changepass.png" alt="@ViewText.TITLE_DOI_MK" class="icon-menu">
                                <a class="nav-link active collapsed" aria-current="page" href="@Url.Action("ChangePassword", "Account")">@ViewText.TITLE_DOI_MK</a>
                            </li>
                            <li class="nav-item">
                                <img src="~/images/icons/log-out.png" alt="@ViewText.TITLE_DOI_MK" class="icon-menu">
                                <a class="nav-link active collapsed" aria-current="page" href="@Url.Action("LogOut", "Account")">@ViewText.BTN_DANGXUAT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="flex-grow-1 d-flex flex-column">
        <div class="main container-fluid flex-fill" id="main-content">
            @RenderBody()
        </div>
    </section>

    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top fixed-bottom">
        <div class="col-12 text-center d-flex justify-content-center gap-1">
            <span class="text-primary">@TTC.TEN_NGAN</span>
        </div>
    </footer>

    @***************************MODAL************************************@
    <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade modal-fullscreen" id="modalLarge" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAvatar" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-confirm">
                    <img class="avatar-full" src="data:image/png;base64, @user.Avatar" alt="avatar">
                </div>

            </div>
        </div>
    </div>

    @*<div class="modal fade" id="modalCameraScanner" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
    </div>
    </div>
    </div>*@

    <div class="modal fade" id="modalCameraScanner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Hello</h1>
                </div>
                <div class="modal-body">
                    <h1>Hello</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    @***************************TOAST************************************@
    <div class="toast start-50 translate-middle-x align-items-center toast-success" id="toastSuccess" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <div class="toast start-50 translate-middle-x align-items-center toast-warning" id="toastWarning" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/message.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/select2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery/dist/loadingoverlay.min.js"></script>
    <script src="~/lib/jquery/dist/moment-with-locales.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        var msg = @Html.Raw(Json.Serialize(@SessionManager.Message));
        $(function () {
            showRelevantPopUp(msg);
            $.post("/Base/ClearMessage", function (data) { });

            let dropdowns = document.querySelectorAll('.dropdown-toggle')
            dropdowns.forEach((dd) => {
                dd.addEventListener('click', function (e) {
                    var el = this.nextElementSibling
                    el.style.display = el.style.display === 'block' ? 'none' : 'block'
                })
            })

        });
    </script>

</body>
</html>
