@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@{
    ViewBag.Title = "NGHIỆM THU PHIẾU BẢO TRÌ";
    ViewBag.BackUrl = @Url.Action("Index", "Home", new { });
}
<style>
    .navbar-button {
        padding-left: 100px;
        padding-top: unset;
        padding-right: 100px;
        /* overflow: hidden; */
        position: absolute;
        line-height: 42px;
        bottom: 23px;
        left: 0;
        width: 100%;
        background: #ffff !important;
    }

    .accordion-button::after {
        /*https://astronautweb.co/snippet/font-awesome/*/
        /*        content: "\f083";
                    font-family: FontAwesome;*/
        background-image: none !important;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: none !important;
        transform: none;
    }
</style>
<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <form id="formSubmitRequest">
            <div class="d-flex justify-content-between gap-2">
                <div class="form-floating input-group break-line date" id="toDateContainer">
                    <input type="text" class="form-control" id="fromDate" name="fromDate" autocomplete="off" />
                    <span class="input-group-append d-flex align-items-center">
                        <i class="bi bi-calendar4-week date-icon "></i>
                    </span>
                    <label for="from">@ViewText.TXT_TUNGAY</label>
                    <div id="from-error"></div>
                </div>

                <div class="form-floating input-group break-line date" id="toDateContainer">
                    <input type="text" class="form-control" id="toDate" name="toDate" autocomplete="off" />
                    <span class="input-group-append d-flex align-items-center">
                        <i class="bi bi-calendar4-week date-icon"></i>
                    </span>
                    <label for="toDate">@ViewText.TXT_DENNGAY</label>
                    <div id="toDate-error"></div>
                </div>
            </div>

            @*<div style="border-bottom:1px solid gray" class="break-line"></div>*@
        </form>
        <div class="position-relative">
            @Html.TextBox("search", null, new { @class = "form-control", maxlength = 250, autocomplete = "off", tabindex="-1" , placeholder=@ViewText.TXT_SEARCH})
            <i class="bi bi-search icon-obsolute"></i>
        </div>
        <div class="col-md-12 offset-md-12 col-xs-12  px-0">
            <div id="GetAcceptMaintenance">
            </div>
        </div>
    </div>

</div>


@section scripts {
<script src="~/lib/jquery.twbsPagination/jquery.twbsPagination.min.js"></script>
<script>
    var config = {
        GET_LIST_AcceptMaintenance: '@Url.Action("GetListAcceptMaintenance", "AcceptMaintenance")',
        urlSaveAcceptMaintenance: '@Url.Action("SaveAcceptMaintenance", "AcceptMaintenance")',
         urlAcceptMaintenance: '@Url.Action("ShowConfirmAccept", "AcceptMaintenance")',

        PAGE_SIZE: 10
    }
</script>

<script src="~/js/pages/acceptmaintenance.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        AcceptMaintenanceModule.init();
    });
</script>
}