@using VietSoft.CMMS.Web.Resources;
@using VietSoft.CMMS.Web.Helpers;
@using VietSoft.CMMS.Web.Extensions;
@model List<VietSoft.CMMS.Web.Models.MonitoringViewModel>

@if (Model != null && Model.Count > 0)
{
    <div class="accordion border-0 break-line" id="accordionFlushExample">
        @foreach (var item in Model.OrderBy(x => x.ComponentID))
        {
            <div class="accordion-item border-0 break-line">
                <h2 class="accordion-header d-flex" id="heading-@item.ComponentID.Replace('.','_')@item.MonitoringParamsID">
                    <button class="accordion-button collapsed parentCell" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.ComponentID.Replace('.','_')@item.MonitoringParamsID" aria-expanded="false" aria-controls="collapse-@item.ComponentID@item.MonitoringParamsID">
                        <div class="d-flex justify-content-between w-100">
                            <span id="title-@item.ComponentID.Replace('.','_')@item.MonitoringParamsID">+ @item.ComponentID  @item.MonitoringParamsName</span>
                        </div>
                        <div class="tooltip-action" style="margin-top:-5.2rem">
                            <a>
                                <span>@item.ComponentName</span>
                            </a>
                        </div>
                    </button>
                    @if (item.DUONG_DAN != null)
                    {
                        <a class="d-flex accordion-right-icon" target="_blank" href="@Url.Action("OpenFile", "Home", new { filePath = @item.DUONG_DAN })" style="padding-right:0.5rem" data-patfile="@item.MonitoringParamsID">
                            <i class="fa fa-file-pdf-o"></i>
                        </a>
                    }
                    <a class="d-flex accordion-right-icon" data-bs-toggle="modal" data-bs-target="#exampleModal" data-mor="@item.MonitoringParamsID" data-dev="@item.DeviceID" data-com="@item.ComponentID" data-src="" data-pat="" onclick="loadhinh(this)">
                        <i class="fa fa-camera-retro"></i>
                    </a>
                </h2>

                <div id="collapse-@item.ComponentID.Replace('.','_')@item.MonitoringParamsID" class="accordion-collapse collapse" aria-labelledby="heading-@item.ComponentID.Replace('.','_')@item.MonitoringParamsID" data-bs-parent="#accordionFlushExample">
                    <div class="table-responsive">
                        <table class="table table-responsive table-borderless cuscess" data-root="@item.ComponentID.Replace('.','_')!@item.MonitoringParamsID">
                            <tbody>

                                @foreach (var item1 in @item.MonitoringParameters.OrderByDescending(x => x.Pass))
                                {
                                    if (item1.TypeOfParam == true)
                                    {
                                        <tr>
                                            <td style="line-height:2.3rem">@item1.ValueParamName</td>
                                            <td data-pass="@item1.Pass">
                                                <input class="form-check-input" id="@item.ComponentID.Replace('.','_')@item.MonitoringParamsID" style="margin-top:0.8rem" data-pass="@item1.Pass" data-id="@item1.ValueParamID" data-msbophan="@item1.ComponentID" data-msthongso="@item1.MonitoringParamsID" type="checkbox">
                                            </td>
                                            <td> <input class="form-control" style="font-size:0.8rem;" type="text" id="note" placeholder="ghi chú" aria-label="default input example" value="@item1.Note" /></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="parentCell odd">
                                            <td>
                                                <input onfocusout="myfunction(this)" class="form-control form-input" data-range="@item1.ValueParamName.Split('!')[1]" data-msbophan="@item1.ComponentID" id="@item.ComponentID.Replace('.','_')@item.MonitoringParamsID" data-msthongso="@item1.MonitoringParamsID" style="font-size:0.8rem;" type="text" placeholder="Kết quả" aria-label="default input example" value="@item1.Measurement" name="@item.ComponentID.Replace('.','_')@item.MonitoringParamsID" />
                                                <div class="tooltip-action">
                                                    <a>
                                                        <span>@Html.Raw(@item1.ValueParamName.Split('!')[0])</span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td style="line-height:2.5rem!important;width:40px;">@item1.MeasurementUnitName</td>
                                            <td> <input class="form-control" style="font-size:0.8rem;" type="text" id="note" placeholder="ghi chú" aria-label="default input example" value="@item1.Note" /></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="col-12">
        <div class="no-data">
            <span>@ViewText.TXT_KHONGCO_DULIEU</span>
        </div>
    </div>
}

@Html.Partial("~/Views/Camera/_loadimage.cshtml")
<input type="file" id="fileToUpload" style="display: none;" />
<script>
    function myfunction(e) {
        var id_input = ($(e).attr('name'));
        var id = ($(e).attr('id'));
        var x = document.getElementById(id_input).value;
        if (!$.isNumeric($(e).val()) && $(e).val() !== '') {
            if ($(e).val() == '') return false;
            $(e).focus();
            showWarning("Chỉ được nhập số!");
            $(e).val('');
            $('#title-' + id).css("color", "#113186");
            return false;
        }
        if ($(e).val() !== '') {
            var data = JSON.parse($(e).attr('data-range'));
            var flag = 0;
            for (var i = 0; i < data.length; i++) {
                if (parseFloat(data[i].GiaTriTren) >= parseFloat($(e).val()) && parseFloat($(e).val()) >= parseFloat(data[i].GiaTriDuoi)) {
                    flag = flag + 1;
                    continue;
                }
            }
            if (flag == 0) {
                $(e).focus();
                showWarning("Giá trị nhập không phù hợp!");
                $(e).val('');
                $('#title-' + id).css("color", "#113186");
                return false;
            }
            else {
                $(e).attr('value', $(e).val());
            }
        }
    }

    var modalImg = document.getElementById("img01");
    var file;
    var dev;
    function loadhinh(e) {
        file = null;
        obj = e;
        dev = $(e).attr('data-dev');
        modalImg.src = '';
        $('#exampleModal').modal('show');
        modalImg.src = $(e).attr('data-src');
        //$('#exampleModal').on('hidden.bs.modal', function (a) {
        //    //$(e).attr('data-src', $('#img01').attr('src'));
        //    console.log(e);
        //})
    };

    var importfile = $('#fileToUpload');
    $('#btnXoaHinh').click(function () {
        file = null;
        $('#img01').attr('src', '');
        $('#img01').attr('pat', '');
    });
    $('#btnLuuHinh').click(function () {
        $('#exampleModal').modal('hide');
        var fd = new FormData();
        fd.append('image', file);
        fd.append('dev', dev);
        $.ajax({
            type: "POST",
            data: fd,
            processData: false,
            contentType: false,
            url: '@Url.Action("SaveImage", "Home")',
            success: function (response) {
                if (response.responseCode == 1) {
                    showSuccess(response.responseMessage);
                    $(obj).attr('data-src', response.data.path64);
                    $(obj).attr('data-pat', response.data.path);
                }
                else {
                    showWarning(response.responseMessage)
                }
            },
            error: function (response) {
            }
        });
        //$(obj).attr('data-src', $('#img01').attr('src'));
    });
    $('#btnChonHinh').click(function () {
        importfile.click();
    });
    function uploadImgDisplay(curFile) {
        var fileURL = window.URL.createObjectURL(curFile);
        $('#img01').attr('src', fileURL);
    }

    importfile.change(function () {
        if (!this.files.length) {
            return;
        }
        // is image
        file = this.files[0];
        this.value = '';
        switch (file.type) {
            case 'image/bmp':
            case 'image/jpeg':
            case 'image/jpg':
            case 'image/png':
            case 'image/gif':
                break;
            default:
                {
                    alert('The uploaded file is not supported.');
                    return;
                }
        }
        uploadImgDisplay(file);
    });

    $('.form-check-input').on('change', function () {
        var idcheck = ($(this).attr('data-id'));
        var id = ($(this).attr('id'));
        var dat = ($(this).attr('data-pass'));
        if ($("input[id=" + id + "]").is(':checked')) {
            if (dat == 1) {
                $(this).closest('tbody').find('tr input[data-pass ="0"]').prop("checked", false);
            }
            else {
                $(this).closest('tbody').find('tr input[data-pass ="1"]').prop("checked", false);
            }
            $('#title-' + id).css("color", "#ff870f");
            //$("input[data-id=" + idcheck + "]").prop("checked", true);
        }
        else {
            $('#title-' + id).css("color", "#113186");
        }
    });

    $('.form-control.form-input').on('change', function () {
        var id_input = ($(this).attr('name'));
        var id = ($(this).attr('id'));
        var x = document.getElementById(id_input).value;
        if (x != "") {
            $('#title-' + id).css("color", "#ff870f");
        }
        else {
            $('#title-' + id).css("color", "#113186");
        }
    });
</script>