@using VietSoft.CMMS.Web.Models.Maintenance;
@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@model VietSoft.CMMS.Web.Models.Maintenance.MorningToringViewModel;

@{
    ViewBag.Title = "GIÁM SÁT TÌNH TRẠNG MÁY";
    var priorityCategories = (IEnumerable<PriorityCategoryViewModel>)ViewBag.UuTien;
}

<style>
    .navbar-button {
        /*padding-left: 100px;*/
        padding-top: unset;
        /*padding-right: 100px;*/
        /* overflow: hidden; */
        position: absolute;
        line-height: 42px;
        bottom: 23px;
        left: 0;
        width: 100%;
        background: #ffff !important;
    }

    .accordion-button::after {
        /*https://astronautweb.co/snippet/font-awesome/*/
        /*        content: "\f083";
                                                    font-family: FontAwesome;*/
        background-image: none !important;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: none !important;
        transform: none;
    }

</style>

<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="row detail-page-emp-info">
            <div class="col-12 d-flex justify-content-left gap-2 ">
                <span class="emp-name">@ViewBag.MS_MAY</span>
                <span class="emp-code">@ViewBag.TEN_MAY</span>
                <input type="hidden" id="MS_MAY" name="MS_MAY" value="@ViewBag.MS_MAY">
            </div>
        </div>
        @*<div class="border text-secondary m-auto mt-4 w-90 break-line"></div>*@
        <div class="border-top my-3"></div>



        <div class="form-floating break-line">
            @Html.Hidden("SO_PHIEU", @Model.SO_PHIEU, null)
            @Html.Hidden("STT", @Model.STT, null)
            @Html.Hidden("THEM", @Model.THEM, null)
            <select id="cboUuTien" asp-for="@Model.MUC_UU_TIEN" name="cboUuTien" class="form-select form-select-sm" placeholder=@ViewText.BTN_DOI_MK>
                @foreach (var item in priorityCategories)
                {
                    <option value="@item.MS_UU_TIEN" data-songay=@item.SO_NGAY>@item.TEN_UU_TIEN</option>
                }
            </select>
            <label for="cboUuTien">@ViewText.LBL_UU_TIEN</label>
        </div>


        <div class="form-floating break-line input-group date">
            @Html.TextBoxFor(model => model.NGAY_KH,"{0:dd/MM/yyyy}",new{ @class="form-control",autocomplete="off"})
            @Html.ValidationMessageFor(model=>model.NGAY_KH)
            <span class="input-group-append d-flex align-items-center">
                <i class="bi bi-calendar4-week date-icon"></i>
            </span>
            <label for="NGAY_KH">Ngày kế hoạch</label>
        </div>

        <div class="form-floating break-line">
            @Html.TextAreaFor(model=>model.NHAN_XET, new { @class = "form-control", maxlength = 250, autocomplete = "off" , placeholder=@ViewText.LBL_GHI_CHU })
            <label for="NHAN_XET">Nhận xét</label>
        </div>

        @if(Model.NGAY_CHAY != "")
        {
             <div class="form-floating input-group break-line">
            @Html.TextBoxFor(model=>model.SO_GIO_LUY_KE,new {@class = "form-control", maxlength = 250, autocomplete = "off" , placeholder="Số giờ lũy kế", required ="required",title="Không được để trống." })
            <span class="input-group-append d-flex align-items-center">
                <i class="fa-light fa-eye" id="btnShowView"></i>
            </span>
            <label for="TT_SAU_BT">Số giờ lũy kế (@Model.NGAY_CHAY) </label>
            </div>
        }
        else
        {
            <div class="form-floating input-group break-line">
                @Html.TextBoxFor(model=>model.SO_GIO_LUY_KE,new {@class = "form-control", maxlength = 250, autocomplete = "off" , placeholder="Số giờ lũy kế", required ="required",title="Không được để trống." })
                <label for="TT_SAU_BT">Số giờ lũy kế</label>
            </div>
        }


        <div class="border-top my-3"></div>

        <div class="form-floating">
            <div class="form-check">
                @if (ViewBag.FLAG == 1)
                {
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1" checked>
                }
                else
                {
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1">
                }
                <label class="form-check-label" for="flexRadioDefault1">
                    Những thông số trong phiếu @Model.SO_PHIEU
                </label>
            </div>
            <div class="form-check">
                @if (ViewBag.FLAG == 1)
                {
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2">
                }
                else
                {
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2" checked>
                }
                <label class="form-check-label" for="flexRadioDefault2">
                    @ViewText.LBL_TAT_CA
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="2" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                    Đổi sản phẩm
                </label>
            </div>

        </div>
        <div class="form-check text-nowrap">
            <input class="form-check-input" type="checkbox" value="" checked id="chkanct">
            <label class="form-check-label" for="chkanct">
                @ViewText.LBL_AN_CHI_TIET
            </label>
        </div>


        <br />

        <div class="col-md-12 offset-md-12 col-xs-12  px-0">
            <div id="GetMoningToring">
            </div>
        </div>

        <br />
        <br />


    </div>
</div>
<br />
<br />

<nav class="fixed-bottom">
    <div class="navbar-button  text-center text-white">
        <div id="button-container" class="btn-group">
            @* <a class="btn btn-outline-dark m-1" role="button" href="@Url.Action("Index","Home")" data-toggle="tooltip" title="@ViewText.BTN_TRANG_CHU">
            <i class="fa fa-home fs-7" aria-hidden="true"></i>
            </a>*@
            @if (Model.QUYEN_MENU == 1)
            {
                <a class="btn btn-outline-primary m-1" id='btnsave' role="button" data-toggle="tooltip" title="@ViewText.BTN_LUU">
                    <i class="fa fa-floppy-o fs-7"></i>
                </a>

                @if (Model.THEM != 1)
                {
                    <a id="btnAddNguoiThucHien" class="btn btn-outline-secondary m-1" data-toggle="tooltip" title="@ViewText.TITLE_THEN_NGUOI_THUC_HIEN">
                        <i class="fa-regular fa-person-sign fs-7" aria-hidden="true"></i>
                    </a>

                    <!-- Hoành thành phiếu -->
                    <a id="btnComplete" class="btn btn-outline-success m-1" data-toggle="tooltip" title="Hoàn thành">
                        <i class="fa fa-check-circle fs-7"></i>
                    </a>

                    <!-- Hoành thành phiếu -->
                    <a id="btnChondat" class="btn btn-outline-primary m-1" data-toggle="tooltip" title="Chọn đạt">
                        <i class="fa fa-square-check fs-7"></i>
                    </a>

                    <!-- Hoành thành phiếu -->
                    <a id="btnBochon" class="btn btn-outline-info m-1" data-toggle="tooltip" title="Bỏ chọn">
                        <i class="fa-regular fa-square fs-7"></i>
                    </a>

                    <a class="btn btn-outline-warning m-1" data-toggle="tooltip" title="@ViewText.BTN_XOA" id="btnhuyGS" role="button">
                        <i class="fa fa-times fs-7"></i>
                    </a>

                }

            }

        </div>
    </div>
</nav>
@section scripts {
    <script src="~/js/pages/jquery.imagesloader-1.0.1.js"></script>
    <script>
        var config = {
            GET_MONITORING_LIST: '@Url.Action("GetMonitoringParametersByDevice", "Home")',
            SAVE_MONITORING: '@Url.Action("SaveMonitoring", "Home")',
            MyEcomaint: '@Url.Action("Index", "Home")',
            MESS_VUI_LONG_CHON_DL: '@Html.Raw(Message.MESS_VUI_LONG_CHON_DL)',
            ADD_NGUOI_THUC_HIEN: '@Url.Action("ChonNguoiThucHien","Home")',
            SHOW_TG_CHAY_MAY: '@Url.Action("ShowThoiGianChayMay","Home")',
            SAVE_NGUOI_THUC_HIEN: '@Url.Action("SaveNguoiThucHien","Home")',
            COMPLETED: '@Url.Action("Completed","Home")',
            DELETE_GSTT: '@Url.Action("DeleteGSTT","Home")',
        }
    </script>
    <script src="~/js/pages/moningtoring.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            MoningToringModule.init();
        });
    </script>
}
