@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@{
    ViewBag.Title = "GIÁM SÁT TÌNH TRẠNG MÁY";
}

<style>
       .navbar-button {
        padding-left: 100px;
        padding-top: unset;
        padding-right: 100px;
        /* overflow: hidden; */
        position: absolute;
        line-height: 42px;
        bottom: 23px;
        left: 0;
        width: 100%;
        background: #ffff !important;
    }

    .accordion-button::after {
        /*https://astronautweb.co/snippet/font-awesome/*/
        /*        content: "\f083";
                    font-family: FontAwesome;*/
        background-image: none !important;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: none !important;
        transform: none;
    }
</style>

<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="row detail-page-emp-info">
            <div class="col-12 d-flex justify-content-left gap-2 ">
                <span class="emp-name" >@ViewBag.MS_MAY</span>
                <span class="emp-code" >@ViewBag.TEN_MAY</span>
                <input type="hidden" id="MS_MAY" name="MS_MAY" value="@ViewBag.MS_MAY">
            </div>
        </div>
        @*<div class="border text-secondary m-auto mt-4 w-90 break-line"></div>*@
        <div class="border-top my-3"></div>
        <div class="form-floating">
            <div class="form-check">
                 @if (ViewBag.FLAG == 1)
                {
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1" checked>
                }
                else
                {
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1">
                }
                <label class="form-check-label" for="flexRadioDefault1">
                    @ViewText.LBL_THONG_SO_DH
                </label>
            </div>
            <div class="form-check">
                   @if (ViewBag.FLAG == 1)
                {
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2">

                }
                else
                {
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2" checked>


                }
                <label class="form-check-label" for="flexRadioDefault2">
                    @ViewText.LBL_TAT_CA
                </label>
            </div>
        </div>
        <div class="form-check text-nowrap">
            <input class="form-check-input" type="checkbox" value="" checked id="chkanct">
            <label class="form-check-label" for="chkanct">
                @ViewText.LBL_AN_CHI_TIET
            </label>
        </div>


        <div class="border-top my-3"></div>
        <br />
        <div class="col-md-12 offset-md-12 col-xs-12  px-0">
            <div id="GetMoningToring">
            </div>
        </div>


    </div>
</div>
<br />
<br />

<nav class="fixed-bottom">
    <div class="navbar-button  text-center text-white">
        <div id="button-container" class="btn-group">
            <a class="btn btn-outline-dark m-1" role="button" href="@Url.Action("Index","Home")">
                <i class="fa fa-home fs-7" aria-hidden="true"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-primary m-1" id='btnsave' role="button">
                <i class="fa fa-floppy-o fs-7"></i>
            </a>

            <!-- Google -->
            <a class="btn btn-outline-warning m-1" id="btnhuy"  role="button">
                <i class="fa fa-times fs-7"></i>
            </a>
        </div>
    </div>
</nav>
@section scripts {
    <script src="~/js/pages/jquery.imagesloader-1.0.1.js"></script>
    <script>
        var config = {
            GET_MONITORING_LIST: '@Url.Action("GetMonitoringParametersByDevice", "Home")',
            SAVE_MONITORING: '@Url.Action("SaveMonitoring", "Home")',
            MyEcomaint: '@Url.Action("Index", "Home")',
        }
    </script>
    <script src="~/js/pages/moningtoring.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            MoningToringModule.init();
        });
    </script>
}
