@using VietSoft.CMMS.Web.Resources
@model IEnumerable<VietSoft.CMMS.Web.Models.ChonDanhSachPhuTungXuatModel>

@if (Model.Count() > 0)
{
    <table class="table table-normal-padding tblAddPhuTungXuat">
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tr-supplies">
                    <td class="w-20">@item.MS_PT</td>
                    <td class="w-40">@item.MS_DH_NHAP_PT</td>
                    <td width="30%">
                        <input class="form-control form-control-sm SoLuong" style="height:0.5rem!important;min-height:0.5rem!important;font-size: 0.8rem;padding: 11px 3px!important;" type="number" min="0" max="@item.SL_TON" value="@item.SL_XUAT" placeholder="số lượng" />
                    </td>
                    <td class="w-15">@item.SL_TON</td>
                    <td class="w-10">
                        <div class="">
                            <input class="form-check-input" data-msvt="@item.MS_VI_TRI" type="checkbox">
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <span>@ViewText.LBL_KHONGCO_DULIEU</span>
}

