@using VietSoft.CMMS.Web.Resources;
@using VietSoft.CMMS.Web.Helpers;
@model PagedList<VietSoft.CMMS.Web.Models.GoodIssueViewModel>

@if (Model != null && Model.Data.Count > 0)
{
    <table class="table table-striped" cellspacing="0" id="tbGoodIssue" style="width:100% !important">
        <thead>
            <tr>
                <td width="25%" class="col-grid-table">
                    @ViewText.LBL_MS_PHIEU_XUAT
                </td>
                <td width="20%">
                    @ViewText.LBL_DANG_XUAT
                </td>
                <td width="20%">
                    @ViewText.LBL_NGAY_XUAT
                </td>
                <td width="30%">
                    @ViewText.LBL_NGUOI_NHAN
                </td>
                <td width="5%">
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr style="color:@(item.LOCK == true ? "#008001" : "black")">
                    <td class="text-start">
                        <a style="color:#113186;" href="/GoodIssue/EditGoodIssue?mspx=@item.MS_DH_XUAT_PT" class="card-value">@item.SO_PHIEU_XN</a>
                        @*@item.MS_DH_NHAP_PT*@
                    </td>
                    <td class="text-start">
                        @item.DANG_XUAT
                    </td>
                    <td>
                        @item.NGAY.ToString(Setting.FORMAT_DATE)
                    </td>
                    <td>
                        @item.TEN
                    </td>
                    <td>
                        @if(@item.LOCK == false && @item.USER_LAP.ToLower() == @SessionManager.CurrentUser.UserName.ToLower())
                        {
                            <p style=""><a class="remove-row btnDeletePhieuXuatKho" data-mspx="@item.MS_DH_XUAT_PT"><i class="fa fa-trash-o text-danger"></i></a></p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <input type="hidden" id="hfTotalPage" value="@Model.TotalPages" data-total-rows="@Model.TotalItems">
    <div id="paggingResult"></div>
}
else
{
    <div class="col-12">
        <div class="no-data">
            <span>@ViewText.LBL_KHONGCO_DULIEU</span>
        </div>
    </div>
}
