@using System.Globalization;
@using VietSoft.CMMS.Web.Resources;
@using VietSoft.CMMS.Web.Helpers;
@model IEnumerable<VietSoft.CMMS.Web.Models.DanhSachPhuTungXuatKhoModel>
@if (@Model.Count() > 0)
{
    <table class="table table-striped tbPhuTungXuat" cellspacing="0" style="width:100% !important">
        <thead>
            <tr>
                <td width="15%" class="col-grid-table">
                    @ViewText.LBL_MS_PT
                </td>
                <td width="30%">
                    @ViewText.LBL_TEN_PT
                </td>
                <td width="15%">
                    @ViewText.LBL_SO_LUONG
                </td>
                <td width="20%">
                    @ViewText.LBL_MS_PHIEU_NHAP
                </td>
                @if (@Model.Select(x => x.XOA).FirstOrDefault() == true)
                {
                    <td width="15%">
                        @ViewText.LBL_VI_TRI
                    </td>
                    <td width="5%">
                    </td>
                }
                else
                {
                    <td width="20%">
                        @ViewText.LBL_VI_TRI
                    </td>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MS_PT</td>
                    <td>
                        @item.TEN_PT
                    </td>
                    <td>
                        @if (@item.XOA == true)
                        {
                            <input class="form-control form-control-sm SoLuong" style="height:0.5rem!important;min-height:0.5rem!important;font-size: 0.8rem;padding: 11px 3px!important;" data-msvt="@item.MS_VI_TRI" data-mspt="@item.MS_PT.Trim()" type="number" min="0" max="@item.SL_TON" value="@item.SO_LUONG" placeholder="số lượng" />
                        }
                        else
                        {
                            @item.SO_LUONG
                        }
                    </td>
                    <td>@item.MS_DH_NHAP_PT</td>
                    <td>
                        @item.VI_TRI
                    </td>
                    @if (@item.XOA == true)
                    {
                        <td>
                            <p style=""><a class="remove-row btnDeleteVatTuXuatKho" data-mspt="@item.MS_PT.Trim()" data-mspn="@item.MS_DH_NHAP_PT.Trim()"><i class="fa fa-trash-o text-danger"></i></a></p>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="col-12">
        <div class="no-data">
            <span>@ViewText.LBL_KHONGCO_DULIEU</span>
        </div>
    </div>
}
