@using VietSoft.CMMS.Web.Resources
@using VietSoft.CMMS.Web.Helpers
@model UserRequestViewModel
@{
    ViewBag.Title = "YÊU CẦU BẢO TRÌ";
    ViewBag.BackUrl = @Url.Action("Index", "Home", new { });
}
@using (Html.BeginForm("Home", "SaveUserRequest", FormMethod.Post, new { id = "UserRequestForm", name = "UserRequestForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("MS_MAY", (object)ViewBag.MS_MAY)
    <input type="hidden" id="flag" name="flag" value="@ViewBag.FLAG">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <div class="row detail-page-emp-info">
            <div class="col-12 d-flex justify-content-left gap-2 ">
                <span class="emp-name" data-ms="@ViewBag.MS_MAY">@ViewBag.MS_MAY</span>
                <span class="emp-code" data-ten="@ViewBag.TEN_MAY">@ViewBag.TEN_MAY</span>
            </div>
        </div>
        <div class="border-top my-3"></div>
        <div class="form-floating  break-line">
            @Html.TextAreaFor(model=>model.MO_TA_TINH_TRANG,new {@class = "form-control", maxlength = 250, autocomplete = "off" , placeholder="Mô tả tình trạng" })
            @Html.ValidationMessageFor(model=>model.MO_TA_TINH_TRANG)
            <label for="MO_TA_TINH_TRANG">Mô tả tình trạng</label>
        </div>

        <div class="form-floating break-line">
            @Html.TextAreaFor(model=>model.YEU_CAU, new { @class = "form-control", maxlength = 250, autocomplete = "off" , placeholder="Nội dung yêu cầu" })
            @Html.ValidationMessageFor(model=>model.YEU_CAU)
            <label for="YEU_CAU">Nội dung yêu cầu</label>
        </div>

        <div class="form-floating break-line">
            @Html.DropDownListFor(model => model.MS_UU_TIEN,(IEnumerable<SelectListItem>)@ViewBag.UuTien, new { id="cboMucdo",name="cboMucdo", @class = "form-select form-select-sm"})
            @Html.ValidationMessageFor(model=>model.MS_UU_TIEN)
            <label for="MS_UU_TIEN">Mức độ khẩn cấp</label>
        </div>

        <div class="form-floating break-line">
            @Html.DropDownListFor(model => model.STT_VAN_DE,(IEnumerable<SelectListItem>)@ViewBag.NguyenNhan, new { id="cboNguyennhan",name="cboNguyennhan", @class = "form-select form-select-sm"})
            @Html.ValidationMessageFor(model=>model.STT_VAN_DE)
            <label for="STT_VAN_DE">Nguyên nhân</label>
        </div>

        <div class="form-check text-nowrap break-line">
            @Html.CheckBoxFor(model=>model.HONG,new{@class="form-check-input",autocomplete = "off"})
            <label class="form-check-label" for="HONG">
                Máy hỏng
            </label>
        </div>
        @if (Model.HONG == true)
        {
            <div class="form-floating input-group break-line date">
                @Html.TextBoxFor(model => model.NGAY_XAY_RA,new{ @class="form-control",autocomplete="off"})
                @Html.ValidationMessageFor(model=>model.NGAY_XAY_RA)
                <span class="input-group-append d-flex align-items-center">
                    <i class="bi bi-calendar4-week date-icon"></i>
                </span>
                <label for="NGAY_XAY_RA">Thời gian hỏng</label>
            </div>
        }
        else
        {
            <div class="form-floating input-group break-line date" hidden>
                @Html.TextBoxFor(model => model.NGAY_XAY_RA,new{ @class="form-control",autocomplete="off"})
                @Html.ValidationMessageFor(model=>model.NGAY_XAY_RA)
                <span class="input-group-append d-flex align-items-center">
                    <i class="bi bi-calendar4-week date-icon"></i>
                </span>
                <label for="NGAY_XAY_RA">Thời gian hỏng</label>
            </div>
        }
        <div class="row detail-page-emp-info">
            <div class="col-12 d-flex justify-content-left gap-2 ">
                @Html.HiddenFor(x => x.NGUOI_YEU_CAU)
                <span class="emp-name">@Model.NGUOI_YEU_CAU</span>
            </div>
        </div>
    </div>
}

<nav class="fixed-bottom">
    <div class="navbar-button  text-center text-white">
        <div id="button-container" class="btn-group">
            <a class="btn btn-outline-dark m-1" role="button" href="@Url.Action("Index","Home")">
                <i class="fa fa-home fs-7" aria-hidden="true"></i>
            </a>
            @Html.HiddenFor(x => x.DUYET)
            <!-- Twitter -->
            @if (Model.DUYET == 1)
            {
                <a class="btn btn-outline-primary m-1" id='btnLPBT' role="button">
                    <i class="fa fa-cogs fs-7"></i>
                </a>
            }
            else
            {
                <a class="btn btn-outline-primary m-1" id='btnsave' role="button">
                    <i class="fa fa-floppy-o fs-7"></i>
                </a>

                <a class="btn btn-outline-warning m-1" id='btnhuy' role="button">
                    <i class="fa fa-times fs-7"></i>
                </a>
            }
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <input style="display:none;" id="files" type="file" name="files[]" data-button="" multiple="" accept="image/jpeg, image/png, image/gif,">
         <div class="row mt-3 mb-2">
             <div class="add-image">
                 <i class="fa fa-camera-retro" aria-hidden="true" style="font-size:20px"></i>
                 <span>Them hinh</span>
             </div>
               
            </div>
        <div id="filesContent">
           <div class="row"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/pages/jquery.imagesloader-1.0.1.js"></script>
    <script>
        var config = {
            PAGE_SIZE: 10,
            SAVE_USERREQUEST: '@Url.Action("SaveUserRequest", "Home")',
            CREAT_WORKORDER: '@Url.Action("WorkOrder", "Home")',
            MyEcomaint: '@Url.Action("Index", "Home")',
        }
    </script>
    <script src="~/js/pages/userequest.js" asp-append-version="true"></script>
    <script src="~/js/pages/multiple-file-upload.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            UserRequestModule.init();
            MultipleFileUploadModule.init();
        });
    </script>
}


